@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');


$image-path: "assets/img";
// $roboto-font-path: "assets/font/roboto/";
$roboto-font-path:'https://fonts.googleapis.com/css?family=Roboto:400,500,700';
$fa-font-path: "node_modules/@fortawesome/fontawesome-free/webfonts" !default;

$title-font: 'Oswald', sans-serif;
$base-font: 'Roboto', sans-serif;
// custome theme variable
$primary-color:  #009b9d !default;
$secondary-color:  #EA6E2C !default; 
$primary:  $primary-color !default;
$secondary:  $secondary-color !default; 
$link-color: $secondary-color !default;
$success-color: #1BBC65 !default;
$bluegrey:#E4E8EA;
$tealgrey: #F3F5F6;
$bg-body:#f5f3f3;
$info-color: #01A3C1 !default;

$default-color: #616161;
$warning-color: $secondary-color;

$themes: (
  'vitafy': (
    'primary': #009b9d,
    'secondary': #EA6E2C
  ),
  'hps': (
    'primary': #233d8a,
    'secondary': #99caea,
    'textWhite': #fff,
    'textGrey': #999,
    'textDark': #333333,
  ),
   'movie':(
    // 'primary': #67774e,
    'secondary': #dd7717,
    'textWhite': #fff,
    'textGrey': #999,
    'textDark': #333333,
)
  
);


// modal width
$modal-md: 37.5rem;

// bootstrap variable


// Buttons
$btn-font-family: $title-font;
$btn-margin-basic:            .375rem !default;
$btn-padding-y-basic:         .5rem !default;
$btn-padding-x-basic:         1rem !default;
$btn-font-size-basic:         1rem !default;

$btn-padding-y-large:         .65rem !default;
$btn-padding-x-large:         2rem !default;
$btn-font-size-large:         1.25rem !default;

$btn-padding-y-medium:        .7rem !default;
$btn-padding-x-medium:        1.6rem !default;
$btn-font-size-medium:        .7rem !default;

$btn-padding-y-small:         .5rem !default;
$btn-padding-x-small:         .75rem !default;
$btn-font-size-small:         .875rem !default;

$btn-outline-padding-y-basic:         .5rem !default;
$btn-outline-padding-y-large:         .88rem !default;
$btn-outline-padding-y-medium:        .58rem !default;
$btn-outline-padding-y-small:         .38rem !default;

$btn-tb-padding-y:       0.3rem !default;
$btn-tb-padding-x:       1rem !default;


$btn-icon-basic:         .9rem !default;
$btn-icon-large:         1rem !default;
$btn-icon-medium:        .8rem !default;
$btn-icon-small:         .7rem !default;
$btn-icon-margin:        .3rem !default;

// 
$ng-select-highlight: $secondary-color !default;
$ng-select-primary-text: rgba(black, 0.87) !default;
$ng-select-primary-light-text: rgba(white, 0.87) !default;
$ng-select-secondary-text: rgba(black, 0.54) !default;
$ng-select-secondary-light-text: rgba(white, 0.54) !default;
$ng-select-disabled-text: rgba(black, 0.38) !default;
$ng-select-divider: rgba(black, 0.12) !default;
$ng-select-bg: transparent !default;




