
// extends
%transition{
  transition: all .2s ease;
}
%box-shadow{
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
  
}
%box-shadow-lg{
  -webkit-box-shadow: 2px 2px 10px  rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 2px 10px  rgba(0,0,0,0.15);
  box-shadow: 2px 2px 10px  rgba(0,0,0,0.15);
}

// theme mixin
@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function themed($key) {
    @return map-get($theme-map, $key);
  }

// border radius

@mixin border-radius($radius){
  border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

// position item

@mixin position-item($attribute,$top: null,$bottom: null,$left: null, $right: null){
  position: $attribute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
// mixin
@mixin rtl {
  @at-root [dir="rtl"] #{&} {
      @content
  }
}