
// animations
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
  }
  
  .animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
    .placeholder-item_profile &{
      height: 195px;
    }
  }
  .placeholder-item {
    border: 1px solid lighten($grey-lighten-2, 5%);
    background-color: lighten($grey-lighten-2, 10%);
    border-radius: 3px;
    padding: 12px;
    max-width: 100%;
    margin-bottom: 1rem;
  }
  
  .background-masker {
    background-color: lighten($grey-lighten-2, 10%);
    position: absolute;
  }
  
  /* Every thing below this is just positioning */
 
  .background-masker.header-top,
  .background-masker.header-bottom,
  .background-masker.subheader-bottom {
    top: 0;
    left: 70px;
    right: 0;
    height: 10px;
  }
  
  .background-masker.header-left,
  .background-masker.subheader-left,
  .background-masker.header-right,
  .background-masker.subheader-right {
    top: 10px;
    left: 70px;
    height: 8px;
    width: 10px;
  }
  
  .background-masker.header-bottom {
    top: 18px;
    height: 6px;
  }
  
  .background-masker.subheader-left,
  .background-masker.subheader-right {
    top: 24px;
    height: 6px;
  }
  
  
  .background-masker.header-right,
  .background-masker.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
  }
  
  .background-masker.subheader-right {
    left: 230px;
  }
  
  .background-masker.subheader-bottom {
    top: 30px;
    height: 10px;
  }
  .background-masker.content-first-left,
  .background-masker.content-first-bullet,
  .background-masker.content-first-bullet-second,
  .background-masker.content-second-left,
  .background-masker.content-second-bullet,
  .background-masker.content-second-bullet-second,
  .background-masker.content-third-left,
  .background-masker.content-third-bullet,
  .background-masker.content-third-bullet-second,
  .background-masker.content-first-bullet-second-icon,
  .background-masker.content-second-bullet-second-icon,
  .background-masker.content-third-bullet-second-icon {
    top: 60px;
    left: 0;
    height: 10px;
    width: 80px;
  }
  .background-masker.content-first-bullet,
  .background-masker.content-first-bullet-second,
  .background-masker.content-first-bullet-second-icon{
    left: 90px;
    width: 10px;

  }
  
  .background-masker.content-second-bullet,
  .background-masker.content-second-bullet-second,
  .background-masker.content-second-bullet-second-icon{
    left: 90px;
    width: 10px;
    top: 72px;

  }
  
  .background-masker.content-second-left{
    top: 72px;
  }
  .background-masker.content-third-bullet,
  .background-masker.content-third-bullet-second,
  .background-masker.content-third-bullet-second-icon{
    left: 90px;
    width: 10px;
    top: 86px;
   
  }
  
  .background-masker.content-first-bullet-second,
  .background-masker.content-second-bullet-second,
  .background-masker.content-third-bullet-second{
    left: 50%;
    
  }
  .background-masker.content-first-bullet-second-icon,
  .background-masker.content-second-bullet-second-icon,
  .background-masker.content-third-bullet-second-icon{
    left: calc(50% + 20px);
    
  }
  .background-masker.content-third-left{
    top: 86px;
  }
  .background-masker.content-top,
  .background-masker.content-second-line,
  .background-masker.content-third-line,
  .background-masker.content-second-end,
  .background-masker.content-third-end,
  .background-masker.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
    
  }
  
  .background-masker.content-top {
    height:20px;
    left: 70px;
  }
  
  .background-masker.content-first-end,
  .background-masker.content-second-end,
  .background-masker.content-third-end{
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
  }
  
  .background-masker.content-second-line  {
    top: 68px;
  }
  
  .background-masker.content-second-end {
    left: 420px;
    top: 74px;
  }
  
  .background-masker.content-third-line {
    top: 82px;
  }
  
  .background-masker.content-third-end {
    left: 300px;
    top: 88px;
  }

  // profile 
  .placeholder-item_profile{
    .background-masker.avatar{
      top: 0;
      left: 0;
      height: 100px;
      width: 100%;
      background-color: transparent;
      border: 10px solid lighten($grey-lighten-2, 10%);
    }
    .background-masker.subheader{
      top: 90px;
      left: 0;
      height: 45px;
      width: 100%;
      background-color: transparent;
      border: 10px solid lighten($grey-lighten-2, 10%);
    }
    .background-masker.content-first-bullet,
    .background-masker.content-second-bullet,
    .background-masker.content-third-bullet{
      left:0;
    }
    .background-masker.content-first-bullet-second,
    .background-masker.content-second-bullet-second,
    .background-masker.content-third-bullet-second{
      left: 30px;
    }
    .background-masker.content-first-bullet-second-icon,
    .background-masker.content-second-bullet-second-icon,
    .background-masker.content-third-bullet-second-icon{
      right: 0 ;
      left: unset;
    }
    .background-masker.content-second-left{
      top: 145px;
      width:100% ;
      left: 0;
    }
    .background-masker.content-third-left{
      top: 165px;
      width:100% ;
      left: 0;
    }
    .background-masker.content-first-bullet{
      left: 0;
      top: 135px;
      &-second{
        top: 135px;
        &-icon{
          top: 135px;
        }
      }
    }
    .background-masker.content-second-bullet{
      left: 0;
      top: 155px;
      &-second{
        top: 155px;
        &-icon{
          top: 155px;
        }
      }
    }
    .background-masker.content-third-bullet{
      left: 0;
      top: 175px;
      &-second{
        top: 175px;
        &-icon{
          top: 175px;
        }
      }
    }
    .background-masker.subheader-fist-line{
      top: 10px;
      height: 5px;
      width: 100%;
    }
    .background-masker.subheader-second-line{
      top: 15px;
      right: 0;
      height: 10px;
      width: 20%;
    }
    .background-masker.content-second-line{
      top: 165px;
      height: 10px;
    }
    .background-masker.content-third-line{
      top: 185px;
      height: 10px;
    }
  }

  // intro
  .placeholder-item_intro{
    height: 100px;
    .background-masker.subheader{
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: transparent;
      border: 10px solid lighten($grey-lighten-2, 10%);
    }
    .background-masker.header{
      top: 10px;
      right:0 ;
      height: 20px;
      width: 50%;
    }
    .background-masker.subheader-fist-line{
      top: 20px;
      height: 10px;
      width: 100%;
    }
    .background-masker.subheader-second-line{
      top: 40px;
      right: 0;
      height: 10px;
      width: 100%;
    }
    .background-masker.subheader-third-line{
      top: 60px;
      height: 10px;
      width: 100%;
    }
  }

  // tabs
  // intro
  .placeholder-item_tabs{
    height: 400px;
    .animated-background{
      height: 100%;
    }
    .background-masker.tab{
      top: 0;
      left: 0;
      height: 70px;
      width: 100%;
      background-color: transparent;
      border: 10px solid lighten($grey-lighten-2, 10%);
    }
    .background-masker.tab{
      &-one{
        height: 50px;
        width: 20px;
        left: 20%;
      }
      &-two{
        height: 50px;
        width: 20px;
        left: 40%;
      }
      &-three{
        height: 50px;
        width: 20px;
        left: 80%;
      }
    }
  }
