.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .highlighted {
  text-decoration: none !important;
}

.hide-ng-value-label {
  display: none;
}

// input[type="date"]::-webkit-inner-spin-button,
// input[type="date"]::-webkit-calendar-picker-indicator {
//     display: none;
//     -webkit-appearance: none;
// }
small#hospitalLocation {
  font-size: 80%;
  font-weight: normal;
  float: right;
  color: $secondary-color;
}
#floatingMenuLink {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.is-invalid {
  border-bottom: 1px solid red !important;
}
.btn-link,
.btn.btn-link {
  text-decoration: none;
}
.invalidate {
  border-color: red !important;
}
.writeReview {
  text-align: center;
}
.star-icon[_ngcontent-c6]:before {
  color: #ea6e2c !important;
}

.star-icon[_ngcontent-my-app-c6]:before {
  color: #ea6e2c !important;
}
.star-icon[_ngcontent-my-app-c5]:before {
  color: #ea6e2c !important;
}
.review-section {
  max-height: 500px;
  overflow-y: auto;
}
.client-image {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  border-radius: 50%;
}
.background-image {
  height: 100px;
  width: 178px;
  object-fit: cover;
}
.cursor-pointer {
  cursor: pointer;
}
.show-less {
  // height: 60px;
  overflow: hidden;
}

.inline-flatpickr .form-control,
.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
  display: none;
}
.notAvailable{
  text-align: center;
  padding: 30px;
  font-size: 25px;
}

.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cost-scroll{
  max-height: 220px;
  overflow-y: auto;
}
.leader-content{
  text-align: justify;
  a{
    color:#009b9d;
  }
}

.service-select{
  font-size: .800rem !important;
}
.favorited{
  color: #ea6e2c !important;
}
.favorites-list{
  overflow-y:auto;
  max-height:530px;
  overflow-x:hidden
}
#favorites::-webkit-scrollbar{
  width: 0.2em;
  height: 1em;
}
// #favorites::-webkit-scrollbar-button {
//   background: #ccc
// }
#favorites {
  &:hover::-webkit-scrollbar-thumb{
  background: #009b9d
  }
}