<div class="container-fluid search-banner pb-0"
  [ngClass]="{ 'banner-collapse': bannerCollapseInput,'show':showSearch,'hide':!showSearch }">
  <button *ngIf="showSearch" mdbBtn color="link"
    class="d-block d-sm-none waves-light position-absolute top-1 right-1 p-0 m-0" type="button" (click)="searchToggle()"
    mdbWavesEffect>
    <i class="icofont-close-line text-white icofont-2x"></i>
  </button>
  <div class="search-field-wrapper d-flex">
    <div class="container align-self-center">
      <div class="form-row">
        <div class="col">
          <form (keydown.enter)="submitSearchKeyword()" [formGroup]="searchForm" id="searchForm">
            <div class="row search-field m-0 ">
              <div class="col md-form ">
                <i class="icofont-video-alt prefix icofont-2x"></i>
                <ng-template #rt1 let-r="result" let-t="term">
                  <div class="d-flex justify-content-between">
                    <ngb-highlight [result]="r.Title" [term]="t"></ngb-highlight>
                    <small>
                      {{r.Year}}
                    </small>
                  </div>
                </ng-template>
                <input style="color: white" id="typeahead-http" type="text" class="form-control"
                  [class.is-invalid]="searchFailed" [ngbTypeahead]="searchMovie" placeholder="Search IMDb"
                  formControlName="movie" [resultTemplate]="rt1" [inputFormatter]="inputFormatterForProvider"
                  (selectItem)="selectItem($event,'movieSearch')" [focusFirst]="false" />
                <i *ngIf="providerSearch"
                  class="icofont-spinner-alt-2 fa-spin fas fa-lg position-absolute top-1 right-1"></i>
              </div>
              <div class="col-12 col-sm-4 md-form location-field">
                <i class="icofont-files-stack icofont-2x prefix"></i>
                <ng-template #rt2 let-r="result" let-t="term">
                  <div class="d-flex justify-content-between">
                    <ngb-highlight [result]="r.Title" [term]="t"></ngb-highlight>
                  </div>
                </ng-template>
                <input style="color: white" id="typeahead-http" type="text" class="form-control"
                  [class.is-invalid]="searchFailed" [ngbTypeahead]="searchType" placeholder="Type"
                  formControlName="type" [resultTemplate]="rt2" [inputFormatter]="inputFormatterForProvider"
                  (selectItem)="selectItem($event,'typeSearch')" [focusFirst]="false" />
                <i *ngIf="providerSearch"
                  class="icofont-spinner-alt-2 fa-spin fas fa-lg position-absolute top-1 right-1"></i>
              </div>
              <div class="col-2 col-sm-1 btn-absoulte">
                <button mdbBtn color="link" class="m-0 waves-light p-0 align-self-center h-100" mdbWavesEffect
                  type="submit" (click)="submitSearchKeyword()">
                  <i class="icofont-search-1 icofont-2x"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="container list-container" *ngIf="bannerCollapse">
  <div class="row" id='el2_search'>

    <table mdbTable #tableEl="mdbTable" stickyHeader="true" striped="true" hover="true" class="mt-4 table-lg"
      *ngIf="movieList&&movieList.length>0 || loading">
      <thead class="sticky-top">
        <tr>
          <th *ngFor="let head of headElements; let i = index " [mdbTableSort]="movieList"
            [sortBy]="headElements[i].value" scope="col" (click)="toggle(head.value)">
            <mdb-icon fas icon="sort" class="text-primary" *ngIf="head.label!=='Action'">
            </mdb-icon>
            {{ head.label }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="loading">
          <td colspan="8" align="center">
            <i class="icofont-spinner-alt-2 fa-spin fas fa-lg icofont-2x"></i>
          </td>
        </tr>
        <tr
          *ngFor="let movie of movieList  | orderBy:label:value:true |paginate: { id: 'server2', itemsPerPage: 10, currentPage: p, totalItems: totalItem}"
          [hidden]="loading">
          <td (click)="goToDetailPage(movie)">
            {{(movie.Title)}}
          </td>
          <td>
            {{movie.Year}}
          </td>
          <td>
            {{movie.Type}}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination pagination-lg justify-content-center  pt-5 pb-5" *ngIf="movieList&&movieList.length>0">
      <pagination-controls (pageChange)="goToPage($event)" id="server2">
      </pagination-controls>
    </div>
    <div *ngIf="movieList&&movieList.length==0 && !loading && isSubmitted">
      <p>Result not found</p>
    </div>
  </div>
</section>