<!--Navbar-->
<mdb-navbar #navbar
  SideClass="navbar navbar-expand-lg navbar-light site-nav bg-transparent z-depth-0 position-absolute top-0 w-100 p-0 p-lg-0 p-sm-2">
  <!-- Navbar brand -->
  <logo>
    <div class="d-flex justify-content-between">
      <a class="navbar-brand" href="">
        <img src="assets/img/svg/movie-logo.png" style="height: 50px" alt="">
      </a>
    </div>
  </logo>
</mdb-navbar>