<section class="container list-container">
  <div class="row">
    <div class="col">
      <button mdbBtn (click)="homePage()" type="button" color="link" size="lg"
        class="text-right align-self-end pl-0 pt-0 pb-2" mdbWavesEffect><i class="icofont-arrow-left icofont-1x"></i> Go
        Back</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-sm-0 panel-left">
      <div id="sidebar">
        <app-loader *ngIf="loading" [section]="'profile'"></app-loader>
        <div class=" thumbnail-wrap" *ngIf="!loading">
          <div class="avatar" style="cursor:pointer;">
            <img *ngIf="movieDetail" src="{{this.movieDetail.Poster}}" class="img-fluid" alt="imageDoctor"
              onError="this.src='../../../assets/img/png/movie.png'">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-12">
      <app-loader *ngIf="loading" [section]="'intro'"></app-loader>
      <mdb-card class="rounded-0 user-profile d-none d-sm-block" *ngIf="!loading">
        <header class="d-flex justify-content-between">
          <div class="content-title">
            <h4 class="font-weight-400">
              {{movieDetail.Title}}</h4>
              <p>{{movieDetail.Year}}</p>
            <span class="utility-items">
              <ul class="list-group">
                <li class="list-group-item">
                  <span>Released:</span>
                  {{movieDetail.Released}}
                </li>
                <li class="list-group-item">
                  <span>Genre:</span>
                  {{movieDetail.Genre}}
                </li>
                <li class="list-group-item">
                  <span>Rated:</span>
                  {{movieDetail.Rated}}
                </li>
              </ul>
            </span><br>
            <span class="utility-items">
              <ul class="list-group">
                <li class="list-group-item">
                  <i class="icofont-fw icofont-ui-rating"></i>
                  <span>IMBd Rating:</span>
                  {{movieDetail.imdbRating}}
                </li>
                <li class="list-group-item">
                  <span>IMDb Vote:</span>
                  {{movieDetail.imdbVotes}}
                </li>
              </ul>
            </span>
          </div>
        </header>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <p class="m-0">
            {{movieDetail.Plot}}
          </p>
        </mdb-card-body>
      </mdb-card>
      <app-loader *ngIf="loading" [section]="'profile'"></app-loader>
      <mdb-card class="rounded-0 mt-2 mt-sm-0" id="overview" *ngIf="!loading">
        <header class="d-flex justify-content-between">
          <div class="content-title">
            <h4 class="font-weight-400" id="overview" name="overview">Overview</h4>
          </div>
        </header>
        <!--Card content-->
        <mdb-card-body>
          <table mdbTable>
            <tbody>
              <tr mdbTableCol>
                <td>
                  <i class="icofont-fw icofont-users-alt-4"></i>
                  <span class="d-none d-sm-inline-block ml-1">Actors</span>
                </td>
                <td>
                  <span>
                    <p>{{movieDetail.Actors}}</p>
                  </span>
                </td>
              </tr>
              <tr mdbTableCol>
                <td>
                  <i class="icofont-fw icofont-magic"></i>
                  <span class="d-none d-sm-inline-block ml-1">Director</span>
                </td>
                <td>
                  <p>{{movieDetail.Director}}</p>
                </td>
              </tr>
              <tr mdbTableCol>
                <td>
                  <i class="icofont-fw icofont-pencil"></i>
                  <span class="d-none d-sm-inline-block ml-1">Writer</span>
                </td>
                <td>
                  <p>{{movieDetail.Writer}}</p>
                </td>
              </tr>
              <tr mdbTableCol>
                <td>
                  <i class="icofont-fw icofont-location-pin"></i>
                  <span class="d-none d-sm-inline-block ml-1">Country</span>
                </td>
                <td>
                  <p>{{movieDetail.Country}}</p>
                </td>
              </tr>
              <tr mdbTableCol>
                <td>
                  <i class="icofont-fw icofont-font"></i>
                  <span class="d-none d-sm-inline-block ml-1">Language</span>
                </td>
                <td>
                  <div class="selected-content">
                    <div class="selected-item d-inline-flex justify-content-between align-items-center">
                      <p class="mb-0 font-weight-500">
                        {{movieDetail.Language}}
                      </p>
                    </div>
                  </div>
                  <div
                    *ngIf="physicianDetail && physicianDetail.languageList && physicianDetail.languageList.length==0">
                    <p>No information available
                    </p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div *ngIf="!movieDetail && !loading">
    <h1>No information available</h1>
  </div>
</section>