.bg{
    &-primary{
      &_dark{
        background-color: darken($primary-color,20%);
      }
      &_light{
        background-color: lighten($primary-color,5%);
      }
    }
    &-bluegrey{
      background-color: $bluegrey;
    }
    &-tealgrey{
        background-color: $tealgrey !important;
    }
    &-transparent{
        &-60{
            background-color: rgba(255,255,255,.6);
        }
    }
    &-image{
      background: url(/assets/img/jpg/theatre.jpg) $white;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      .custom-theme &{
        color: $white;
        background-color: $primary-color;
      }
    }
    &-dpc{
      background: url(/assets/img/jpg/dpc-calltoaction-bg.jpg) $white;
      background-repeat: no-repeat;
      background-position: center;
    }
    &-consumer{
      background: url(/assets/img/jpg/consumer-calltoaction-bg.jpg) $white;
      background-repeat: no-repeat;
      background-position: center;
    }
    &-serviceinquiry{
      background: url(/assets/img/png/service-inquiry-bg.png) $info;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      h4{
        text-shadow: 1px 1px 6px #000;
        line-height: 2rem;
      }
    }
    &-gradient-overlay{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 4rem;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba($bg-body, 1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($bg-body, 1)),
        color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba($bg-body, 1) 100%); /*
        Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba($bg-body, 1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba($bg-body, 1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba($bg-body, 1) 100%); /* W3C */
        .theme-hps &,
        .theme-movie &,
        .home &,
        .site-nav &{
          display: none;
        }
        .custom-theme &{

          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(#000, .6) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(#000, .6)),
        color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(#000, .6) 100%); /*
        Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(#000, .6) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(#000, .6) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(#000, .6) 100%); /* W3C */
        }
        
      }
}
