// buttons
.fixed-action-btn {
    @include position-item(fixed,$bottom: 35px,$right: 35px);
    margin-bottom: 0;
    padding-top: 15px;
  }
  .btn {
    text-transform: inherit;
    &[class*="btn-outline-"]{
      &.btn-lg{
        .plan-pricing &{
          border-width: 1px !important;
        }
      }
      &.btn-sm{
        line-height: 1;
        font-family: $base-font;
        font-weight: 700;
        .map-action &{
          height: 2.5rem !important;
          background-color: $white-base !important;
        }
      }

    }
    &-floating {
      
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      position: relative;
      z-index: 1;
      vertical-align: middle;
      display: inline-block;
      overflow: hidden;
      margin: 10px;
      padding: 0;
      cursor: pointer;
      @include border-radius(50%);
      @extend %transition;
      @extend %box-shadow-lg;
      background-color: $secondary-color;
      @include themify($themes) {  
        background-color: themed('primary') !important;  
      }
      .story &{
        @include position-item(absolute,$top: -3.5rem,$right: 2rem);
        padding: 0;
        border: 3px solid $tealgrey;
        background-color: $white-base;
      }
      i {
        display: inline-block;
        width: inherit;
        text-align: center;
        color: $white-base;
  
      }
  
      &.btn-lg {
        width: 5.75rem;
        height: 5.75rem;
        line-height: 5.75rem;
        i {
          font-size: 1.625rem;
          line-height: 61.1px;
        }
  
      }
  
      &.btn-sm {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        &.btn-fb {
          background-color: $fb-color;
        }
  
        &.btn-tw {
          background-color: $tw-color;
        }
        &.btn-li {
          background-color: $li-color;
        }
        &.btn-ins {
          background-color: $li-color;
        }
  
        i {
          font-size: 1rem;
          color: $white-base;
          line-height: 2rem;
        }
  
      }
    }
    &-circle{
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      border-radius: 50% !important;
      background-color: transparent !important;
      &:hover{
        background-color: $grey-lighten-2 !important;
      }
    }
    &:not(.disabled).active,
    &.active {
      color: $white-base;
      background-color: $secondary-color !important;
    }
    &:disabled{
      color: $white-base;
      .modal-body &{
        color: $grey-darken-1;
      }
    }
    .card & {
      box-shadow: none;
      margin-left: 0;
      margin-right: 0;
  
      &:hover {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      }
    }
    &-light{
      background-color: lighten($grey-lighten-2,5%) !important;
    }
    &-sm{
        line-height: 1;
        font-family: $base-font;
      .toggle-action &{
        height: 1.875rem;
        width: 1.875rem;
        margin-top: 0;
        margin-bottom: 0;
        }
      .social-links &{
        font-family: $base-font;
        font-size: .875rem !important;
        &:hover{
          color: $white;
        }
      }
    }
    &-link,
    &.btn-link{
      color: $secondary-color !important;
      font-family: $base-font;
      text-transform: inherit;
      font-size: .875rem !important;
      font-weight: 400 !important;
      &.btn-lg{
        font-size: 1rem !important;
      }
      @include themify($themes) {  
        color: themed('secondary') !important;  
      }
    }
    &-group{
      a,
      .btn{
        font-size: .875rem;
      }
      
    }
    // social
    &-fb{
      background-color: $fb-color;
    }
    &-tw{
      background-color: $tw-color;
    }
    &-gplus{
      background-color: $gplus-color;
      &:hover{
        color: $white;
      }
    }
    &-secondary{
      @include themify($themes) {  
        background-color: themed('secondary') !important;  
      }
    }
  }
  @media only screen and (max-width: 480px) {
    .btn{
      &-absoulte{
        position: absolute;
        right: 0;
        bottom: 2rem;
      }
      &-link{
        .icofont{
          &-2x{
            font-size: 1.5rem;
          }
        }
      }
    }
  }