// overwrite calendar css
.flatpickr{
    &-calendar,
    &-rContainer,
    &-days{
        width: 100%;
    }
    &-calendar{
        border-radius: 0;
        border:none;
        box-shadow: none;
        .dayContainer{
            width: 100%;
            min-width: 100%;
        }
    }
    &-months{
        padding: 1rem;
        background-color: $tealgrey;
        .flatpickr-prev-month,
        .flatpickr-next-month{
        top: 13px;
    }
    }
    &-innerContainer{
        padding: 1rem;
    }
    &-day{
        max-width: 100%;
        flex-basis: unset;
        width: 39px;
        margin: 0 15px;
        &.flatpickr-disabled{
            color: $grey-lighten-1;
        }
        &.selected{
            background-color: $primary-color;
            border-color: darken($primary-color,5%);
            @extend %transition;
            &.prevMonthDay,
            &.nextMonthDay,
            &:hover{
            background-color: lighten($primary-color,5%);
            border-color: darken($primary-color,5%);
            @extend %transition;
            }
        }
    }
    
    
}

// appointment time
.time-content{
  span{
    cursor: pointer;
    text-align: center;
    font-size: .875rem;
    color: $grey-darken-1;
    border-radius: 2px;
    padding: .25rem .5rem;
    margin-bottom: .5rem;
    display: block;
    width: 100%;
    background-color: $tealgrey;
    &.active{
        font-weight: 500;
        color: $white;
        background-color: $primary-color !important;
    }
  }
}