// Cards
mdb-card {
  &.plan-active {
    @extend %box-shadow-lg;
  }
  &.card {
    margin-bottom: 1rem;
    background-color: $white-base;
    @extend %box-shadow;
    
    header{
      padding: .875rem 1.25rem;
      border-bottom: 1px solid lighten($grey-lighten-2, 5%);
      .content-title{
        h4{
          margin-bottom: 0;
        }
        
      }
    }

    .search-field{
      position: relative;
      &:before{
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        font-size: 1rem;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        top: 9px;
        left: 10px;
        z-index: 1010;
        font-family: IcoFont!important;
        content: "\ed1b";

      }
      input{
        border-radius: 2px;
        height: 40px;
        padding-left: 2rem;
        margin-bottom: 1rem;
        color: $grey-darken-3;
        font-weight: 500;
      }
    }
    .card-text,
    p{
      color: $grey-darken-1;
      margin-top: .5rem;
      font-size: 1rem !important;
    }
    h4{
      p{
        font-size: 1.5rem !important;
      }
    }
  }
  
  &.rounded-0 {
    box-shadow: none;
    .card {
      border-radius: 0;
      background-color: $white-base;
      @extend %box-shadow;
      .summary-content &{
        border: 1px solid rgba($primary-color, .4);
        background-color: $tealgrey;
        box-shadow: none;
      }
      
    }
  }
  &.bg-tealgrey {
    .card{
      background-color: $tealgrey;
      box-shadow: none;
    }
  }
  &.h-100{
    .card{
      height: 100%;
    }
  }
  &.registration-form{
    min-height: 475px;
  }
}

@media only screen and (max-width: 480px) {
mdb-card {
  
  &.card {
  
  
    table{
      tbody{
        tr{
          td{
            &:first-child{
              width: 2rem;
              i{
                font-size: 1rem;
              }
            }
          }
        }
        
      }
    }
    &.rounded-0{
      .card{
        .card-deck &{
          margin-bottom: 0;
        }
      }
    }
  }
  &.registration-form{
    min-height: auto;
  }
}
}
