.dropdown{
    &-menu{
        .nav-item &{
            min-width: 18.5rem;
        }
       
        .md-form &{
            width: calc(100% - 2.5rem);
            border-radius: 0;
            max-height: 300px;
            overflow-y: auto;
            @extend %box-shadow;

            .dropdown-item{
                padding: .25rem 1rem;
                color: $grey-darken-3;
                small{
                    color: $secondary-color;
                }
                &.active{
                    color: $grey-darken-4;
                    font-weight: 700;
                    background-color: $grey-lighten-3;
                }
            }
        }
        &.dropdown-grid-2{
            padding-top: 0;
            padding-bottom: 0;
            .dropdown-item{
                width: 50%;
                padding: 1rem;
                white-space: normal;
                display: inline-block;
                min-height: 6.5rem;
                vertical-align: top;
                @extend %transition;
                &:hover{
                    @extend %transition;
                    background-color: lighten($grey-lighten-2,5%);
                    p{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}