// form
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $grey-lighten-2 !important;
    
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $grey-lighten-2 !important;
    
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $grey-lighten-2 !important;
    
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $grey-lighten-2 !important;
    
  }
  input{
    font-weight: 500 !important;
    &:-internal-autofill-selected{
      background-color: transparent !important;
    }
    &.form-control{
      font-weight: 500 !important;
      .news-letter &{
        font-size: 1.5rem;
        font-weight: 400 !important;
      }
    }
    &:read-only{
      .inline-flatpickr &{
        display: none;
      }
    }
  }
 .fieldset{
   position: relative;
   border-radius: 4px;
   border: 1px solid $grey-lighten-3;
   padding: 1rem;
   margin-top: 3rem;
   .legend{
     position: absolute;
     display: block;
     text-align: center;
     line-height: 2rem;
     height: 2rem;
     width: 2rem;
     top: -1rem;
     left: calc(50% - 1rem);
     background-color: $white;
   }
 }
  .file-upload{
    font-size: .875rem;
    font-weight: 400 ;
    .box{
        height: 100%;
        margin: 0;
        border: 1px solid transparent;
    }
    .img{
        &-wrapper{
            max-width: 100%;
        }
        &-item{
            width: 4.5rem;
            height: 4.5rem;
            margin: 0 .25rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .upload-link{
      position: relative;
      overflow: hidden;
      
      span{
        
        &:hover{
          cursor: pointer;
        }
      }
      input[type=file]{
          opacity: 0;
          position: absolute;
          top: 0;
          left: -6rem;
          z-index: 1;
          &:hover{
            cursor: pointer;
          }
          .file-upload-lg &,
          .tabset-content &{
            left: 0;
          }
      }
    
    }
  }
  form {
    .card & {
      padding: .75rem;
      border: 1px solid lighten($grey-lighten-2, 5%);
      background-color: $white-base;
    } 
  }
  .custom-control{
    .day-wrapper &{
      height: .875rem !important;
      min-height: 1rem;
      margin-top: .5rem;
    }
    label{
      &.custom-control-label{
        position: relative;
        transform: none;
        font-size: .75rem;
        margin-bottom: 0;
        top: 0;
        &::before{
          mdb-checkbox &{
            top: 0;
            border-radius: 0;
          }
          
        }
        &::after{
          mdb-checkbox &{
          top: 0;
          }
        }
        &:hover{
          cursor: pointer;
        }
      }
      }
  }
  
  .card-content{
    padding: 1rem .5rem;
    background-color: $white-base;
    @extend %box-shadow;
  }
  
  // radio box
  .radio-block {
    width: 100%;
    text-align: left;
    
    label{
      width: 50%;
      padding-left: 2rem;
      display: inline-block;
      position: relative;
      .login-content &{
        width: auto;
      }
      .table-pricing &{
        width: 100%;
      }
      .modal &{
        padding-left: 0;
      }
    }
    
  }
  input[type="radio"],
    input[type="checkbox"] {
      display: none;
      &:checked {
        + .box {
          background-color: $primary-color;
          i{
            color: $white !important;
          }
          &.box-rounded{
            padding-left: 1.5rem;
            color: $white;
            @extend %box-shadow;
            background-color: $primary-color;
            span{
                color: $white;
            }
            .action-item-sm &{
              padding-left: 1.5rem;
              
            }
          }
          .plan-block &{
            background-color: #FDFFFF;
            border: 2px solid $primary-color;
            box-sizing: border-box;
            height: 4.375rem;
          }
          .radio-block.plan-block-lg &{
            background-color: #FDFFFF;
            border: 2px solid $primary-color;
            box-sizing: border-box;
            height: 12rem;
            span{
              color: $primary-color;
            }
          }
          span {
            color: $white;
            font-weight: 500;
            .plan-block &{
              color: $grey-darken-1;
            }
            &.basic{
              
                background-image: url(assets/img/svg/basic-icon-active.svg);
              }
            
            &.premium{
            background-image: url(assets/img/svg/premium-icon-active.svg);
          }
            
            &.growth{
            background-image: url(assets/img/svg/growth-icon-active.svg);
          }
            &.vip{
              background-image: url(assets/img/svg/vip-icon-active.svg);
            }
          }
          &::after {
            color: $primary-color;
            font-family: "Font Awesome 5 Free";
            border: 2px solid $primary-color;
            content: "\f00c";
            font-size: .625rem;
            font-weight: 600;
            position: absolute;
            top: -.625rem;
            left: 0;
            transform: translateX(-50%);
            height: 1.25rem;
            width: 1.25rem;
            line-height: 1.20rem;
            text-align: center;
            border-radius: 50%;
            background: white;
            box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
          }
        }
      }
    }
  .box {
    height: 2.375rem;
    margin: 0 .5rem .5rem 0;
    border: 1px solid lighten($grey-darken-2,55%);
    background-color: $white-base;
    cursor: pointer;
    position: relative;
    &.box-md{
      height: 4rem;
    }
    span {
      font-size: .875rem;
      user-select: none;
      color: $grey-darken-2;
      h6{
        font-weight: 500;
        small{
          font-size: 70%;
        }
      }
      &.plan{
        &-icon{
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          text-align: center;
          display: inline-block;
          background-color: lighten($grey-lighten-2,5%);
          &-lg{
            width: 4.6875rem;
          height: 4.6875rem;
          border-radius: 0;
          background-color: transparent;
          }
          .plan-pricing &{
            width: 4rem;
            height: 4rem;
            line-height: 4rem;
            background-color:$white-base;
          }
          &.basic{
            background-image: url(assets/img/svg/basic-icon.svg);
            background-repeat: no-repeat;
            background-position: center;
            &.active{
              background-image: url(assets/img/svg/basic-icon-active.svg);
            }
          }
          &.premium{
            background-image: url(assets/img/svg/premium-icon.svg);
            background-repeat: no-repeat;
        background-position: center;
        &.active{
          background-image: url(assets/img/svg/premium-icon-active.svg);
        }
          }
          &.growth{
            background-image: url(assets/img/svg/growth-icon.svg);
            background-repeat: no-repeat;
        background-position: center;
        &.active{
          background-image: url(assets/img/svg/growth-icon-active.svg);
        }
          }
          &.vip{
            background-image: url(assets/img/svg/vip-icon.svg);
            background-repeat: no-repeat;
        background-position: center;
        &.active{
          background-image: url(assets/img/svg/vip-icon-active.svg);
        }
          }
          
        }
        &-desc{
          .plan-active &{
            color: $white;
            p,h3{
              color: $white !important;
            }
          }
        }
      }
    }
    .plan-active &{
      border:0;
      background-color: $primary-color !important;
    }
    .plan-block &{
      padding: .5rem;
      height: auto;
      margin: 0;
    }

    .plan-block-lg &{
      height: 12rem;
      padding: 1rem;
    }
    .plan-pricing &{
      padding: 1.5rem .5rem;
    }
    .table-pricing &{
      border: 0;
      background-color: transparent;
    }
    &-rounded{
        border-radius: 1.5rem;
        height: auto;
        padding: .25rem .5rem;
        min-width: 8rem;
        max-width: 8.25rem;
        .action-item-sm &{
          min-width: 8rem;
        max-width: 8.25rem;
        // span{
        //   // color: $white;
        // }
        }
        &::after{
          position: relative;
          top: 0.35rem !important;
          left: 1rem !important;
          background: none !important;
          border: none !important;
          color: white !important;
          box-shadow: none !important;
        }
    }
    
    
  }
  
  
  
  .custom{
    &-select {
      font-size: .875rem;
      border-radius: .125rem;
      border-color: lighten($grey-lighten-2, 5%);
      .custom-field_select &{
        border-radius: 1rem;
        height: 2rem;
        color: $white;
        background-image: url(assets/img/svg/arrow-down.svg);
        background-repeat: no-repeat;
        
        &.info{
          background-color: $info;
        }
        &.warning{
          background-color: $secondary-color;
        }
      }
    }
  }
  
  textarea {
    &.md-textarea.form-control {
      padding: .5rem 0;
    }
  }
  
  .md-form {
    margin-bottom: 1.35rem;
    margin-top: 1.35rem;
    >input[type=date]:not(.browser-default)+label,
    >input[type]:-webkit-autofill:not(.browser-default):not([type="search"])+label,
      >input[type=time]:not(.browser-default)+label {
      transform: translateY(-10px) scale(.8);
      transform-origin: 0 0;
      font-size: .875rem;
    }
    label{
      &.active{
        font-size: .875rem !important;
        transform: translateY(-10px) scale(.8);
      }
    }
    .form-content &{
      padding: .5rem 1rem;
      height: 3.5rem;
      background-color: $white-base;
      border: none;
      >input[type]:-webkit-autofill:not(.browser-default):not([type="search"])+label,
      >input[type=time]:not(.browser-default)+label {
      transform: translateY(10px) scale(.8);
      transform-origin: 0 0;
      font-size: .875rem;
    }
      .prefix{
        top: calc(50% - .625rem);
        font-size: 1.25rem;
      }
      input{
        border: none;
        margin-top: .5rem;
        margin-bottom: 0;
        padding-bottom: 0;
        height: 1.25rem;
        &:focus{
          border-bottom: 0 !important;
          box-shadow: none !important;
          
        }
      }
      label{
        margin-left: 3rem !important;
        transform: translateY(18px);
        // top: calc(50% - 1.25rem);
        // top: 0;
        &.active{
          transform: translateY(10px) scale(.8);
          transform-origin: 0 0;
          font-size: .875rem;
        }
      }
    }
    
    .card & {
      margin-bottom: 0;
    }
    .modal-body &{
      .btn-link{
        top: 0;
        right: 0;
      }
    }
    &.form-sm{
      .prefix {
        // top: 1rem;
        ~ .error-message,
        ~ .success-message,
        ~ ng-select,
        ~ div {
          margin-left: 2rem;
          width: calc(100% - 2rem);
          left: 0;
        }
        
      }
    }
    .day-wrapper{
      display: block;
      overflow: hidden;
      max-width: 3.75rem;
      input[type="time"]{
        font-size: .75rem;
      }
    }
  }

  .has-error input {
    border-bottom: 1px solid red !important;
  }
  .has-error textarea {
    border-bottom: 1px solid red !important;
  }

  // pac input for location section in detail page
.pac{
    &-container{
      z-index: 1051;
    }
    &-item{
      font-size: 1rem;
      line-height: 2.5rem;
    }
    &-icon{
      vertical-align: middle;
    }
  }
  .search-field {
    margin-bottom: 0;
    margin-top: 0;
    
    .login-content &{
      border-bottom:  1px solid $grey-lighten-2;
    }
    .location-field &{
      border-bottom:  0;
    }
    .tabset-content &{
      margin-top: 1.35rem;
    }
    // padding-left:0;
    .md-form{
      margin: 0;
      .prefix {
        color: $primary-color;
        z-index: 1;
        left: .5rem;
        top: 1rem;
        @include themify($themes) {  
          color: themed('textWhite');  
        }
        .md-form.form-sm &{
          left: 0;
        }
        .login-content &{
          top: .25rem;
        }
        
      }
    }
    
  
    // overwrite ng select css
    .ng-select {
      padding-bottom: 0;
      margin-left: 2.5rem;
      .action-item-sm &{
        width: 7.5rem;
        margin-left: .5rem;
      }
      &:hover{
        cursor: text;
      }
      .modal-body &{
        padding-left: 0;
      }
      &:focus{
        outline: none;
      }
      &.ng-select-disabled {
          .ng-select-container {
            
              &:after {
                  border-bottom-color: transparent;
                  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 33%, transparent 0%);
                  background-size: 4px 1px;
                  background-repeat: repeat-x;
              }
              .ng-value-container {
                  .ng-value {
                      color: $ng-select-disabled-text;
                  }
                  .ng-placeholder {
                      color: $grey-darken-3;
                      
                  }
              }
          }
          .ng-arrow-wrapper .ng-arrow,
          .ng-clear-wrapper {
              color: $ng-select-disabled-text;
          }
      }
      &.ng-select-focused {
          .ng-select-container {
            box-shadow: none !important;
              &:after {
                  border-color: $ng-select-highlight;
                  border-width: 2px;
              }
              .ng-value-container .ng-placeholder {
                  transform: translateY(-.875rem) scale(.65) perspective(100px) translateZ(.001px) !important;
                  color: $primary-color;
                  .tabset-content &,
                  .modal-body &,
                  .login-content &,
                  .location-field &,
                  .mat-dropdown &{
                    transform: translateY(-1.375rem) perspective(100px) translateZ(.001px) !important;
                  }
                  @include themify($themes) {  
                    color: themed('textWhite');  
                  }
              }
              .ng-arrow-wrapper .ng-arrow {
                  color: $ng-select-highlight;
                  border-top: 0;
              }
          }
      }
      .ng-has-value,
      &.ng-select-filtered .ng-select-container {
          .ng-placeholder {
              display: initial;
          }
      }
      .ng-has-value,
      &.ng-select-opened {
          .ng-placeholder {
              transform: translateY(-.875rem) scale(.65) perspective(100px) translateZ(.001px) !important;
              .tabset-content &,
              .modal-body &,
              .login-content &,
              .location-field &,
              .mat-dropdown &{
                font-size: .75rem !important;
                transform: translateY(-1.375rem) perspective(100px) translateZ(.001px) !important;
              }
          }
      }
      .ng-select-container {
          align-items: baseline;
          min-height: 3.5rem;
          color: $grey-darken-4;
          @include themify($themes) {  
            color: themed('textWhite');  
          }
          .action-item-sm &{
            @include themify($themes) {  
              color: themed('textDark');  
            }
          }
          background-color: transparent;
          border: none;
          overflow: visible;
          &:hover{
            cursor: text;
            box-shadow: none;
          }
          .tabset-content &,
          .modal-body &,
          .login-content &,
          .location-field &,
          .mat-dropdown &{
            min-height: 2.375rem;
            border-bottom:  1px solid $grey-lighten-2;
            border-radius: 0;
          }
             
            
          .action-item-sm &{
            min-height: 1.875rem;
            border-bottom:  0;
            border-radius: 0;
            height: 2rem;
            @include themify($themes) {  
              color: themed('textDark') !important;  
            }
            
            &:hover{
              border: none;
              box-shadow: none;
              cursor: pointer;
            }    
            &:after{
              content: '\eab2';
              font-family: IcoFont;
              font-style: normal;
              width: 1rem;
              height: 1rem;
              bottom: unset;
              top: 5px;
              right: 5px;
              left: unset;
              position: absolute;
              
            }
          }
          &:after {
              
              content: '';
              width: 100%;
              bottom: 0;
              left: 0;
              position: absolute;
              transition: border-color .3s cubic-bezier(.55, 0, .55, .2);
              .mat-dropdown &{
                
                  content: '\eab2';
                  font-family: IcoFont;
                  font-style: normal;
                  width: 1rem;
                  height: 1rem;
                  bottom: unset;
                  top: 5px;
                  right: 5px;
                  left: unset;
                  position: absolute;
                  z-index: 101;
                
              }  
          }
          
          .ng-value-container {
              align-items: stretch;
              padding: 0.3rem 0 0.55rem 0;
              margin: 0 0 0.5rem 0;
              border-top:0;
              .action-item-sm &{
                margin-bottom: 0;
                &:hover{
                  cursor: pointer;
                }
              }
              .ng-placeholder {
                  position: absolute;
                  font-size: 1.5rem;
                  font-weight: 400;
                  top: 1rem;
                  z-index: 1;
                  color: $grey-darken-2;
                  @include themify($themes) {  
                    color: themed('textWhite');  
                  }
                  .action-item-sm &{
                    @include themify($themes) {  
                      color: themed('textDark');  
                    }
                  }
                  transform-origin: 0 0;
                  transition: transform .4s cubic-bezier(.25, .8, .25, 1), color .4s cubic-bezier(.25, .8, .25, 1), width .4s cubic-bezier(.25, .8, .25, 1);
                  &:hover{
                    cursor: text;
                  }
                  .tabset-content &,
                  .modal-body &,
                  .login-content &,
                  .location-field &,
                  .action-item-sm &,
                  .mat-dropdown &{
                    font-size: 0.875rem;
                    top: .6rem;
                    font-weight: 400;
                  }
                  
              }
              .ng-input {
                  top: 1rem;
                  padding: 0;
                  font-size: 1.5rem;
                  &:hover{
                    cursor: text;
                  }
                  .tabset-content &,
                  .search-field &,
                  .modal-body &,
                  .login-content &,
                  .location-field &,
                  .action-item-sm &,
                  .mat-dropdown &{
                    font-size: 1rem;
                    top: .25rem;
                  }
                  .search-banner.show &{
                    color: $grey-darken-4;
                    @include themify($themes) {  
                      color: themed('textWhite');  
                    }
                  }
                  input{
                    padding-left: 0;
                    padding-right: 0;
                    cursor: text;
                    .search-banner.show &{
                      color: $grey-darken-4;
                      @include themify($themes) {  
                        color: themed('textWhite');  
                      }
                    }
                    .search-banner &{
                      font-weight: 400 !important;
                    }
                    @include themify($themes) {  
                      color: themed('textWhite');  
                    }
                  }
  
              }
              .ng-value{
                font-size: 1.5rem;
                padding-top: .75rem;
                font-weight: 500;
                .table &,
                .modal-body &,
                .login-content &,
                .location-field &,
                .action-item-sm &,
                .mat-dropdown &{
                  padding-top: 0;
                  font-size: 1rem;
                }
                .search-banner.show &{
                  color: $grey-darken-4;
                  @include themify($themes) {  
                    color: themed('textWhite');  
                  }
                }
                .search-banner &{
                  font-weight: 400 !important;
                }
                
              }
          }
          .ng-clear-wrapper{
            .action-item-sm &{
              display: none;
            }
          }
      }
      &.ng-select-single {
          .ng-select-container {
            .location-field &{
              min-height: 36px !important;
              border-bottom:  1px solid $grey-lighten-2;
              border-radius: 0;
            }
              .ng-arrow-wrapper {
                  align-self: flex-end;
                  bottom: 9px;
              }
              .ng-clear-wrapper {
                  align-self: flex-end;
                  bottom: .5rem;
                  
              }
          }
      }
      &.ng-select-multiple {
       
          &.ng-select-disabled {
              .ng-select-container .ng-value-container .ng-value {
                  background-color: $ng-select-divider;
                  color: rgba(0, 0, 0, .26);
              }
          }
          .ng-select-container {
              .ng-value-container {
                min-height: 3rem;
                  .ng-value {
                      border: 1px solid $primary-color;
                      background-color: rgba($primary-color,.05);
                      border-radius: 2px;
                      color: $primary-color;
                      padding: 0 5px;
                      margin: 0 0.325rem 0.325rem 0;
                      height: 1.65rem;
                      margin-top: .65rem;
                      line-height: 1.65rem;
                      position: relative;
                      padding-right: 1rem;
                      .tabset-content &{
                        line-height: 1rem;
                      }
                      @include rtl {
                          margin: 0 0 0.5rem 0.5rem;
                      }
                      &.ng-value-disabled {
                          background-color: $ng-select-divider;
                          color: rgba(0, 0, 0, .26);
                      }
                      .ng-value-label {
                        font-size: .875rem;
                        font-weight: 400;
                        line-height: 1rem;
                      }
                      .ng-value-icon {
                        color: $secondary-color;
                          padding-right: 5px;
                          position: absolute;
                          top: calc(50% - .5rem);
                          right: 0;
                          border: 0;
                          height: 1rem;
                          line-height: 1rem;
                          @include rtl {
                              padding-left: 5px;
                              padding-right: 0;
                          }
                          &:hover {
                              color: $danger;
                              background-color: transparent;
                          }
                      }
                  }
                  .ng-input {
                    height: 1.5rem;
                    margin-top: .65rem;
                    line-height: 1.5rem;
                  }
              }
              &.ng-has-value {
                  align-items: center;
                  .ng-value-container {
                      padding-bottom: 0;
                      padding-top: .1875em;
                  }
                  .ng-clear-wrapper,
                  .ng-arrow-wrapper {
                      border-top: .84375em solid transparent;
                  }
              }
          }
      }
      .ng-clear-wrapper {
          color: $ng-select-secondary-text;
          &:hover {
              color: $ng-select-primary-text;
          }
      }
      .ng-arrow-wrapper {
          bottom: 2px;
          display: none ;
          .ng-arrow {
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid;
              margin: 0 4px;
              color: $ng-select-secondary-text;
          }
      }
      .ng-spinner-loader,
      .ng-spinner-zone {
          bottom: .875rem;
          position: absolute;
          right: 1.5rem;
      }
  }
  
  .ng-dropdown-panel {
      background: $white-base;
      left: 0;
      &.ng-select-bottom {
          top: 100%;
          left: 0;
        width: 100%;
          border-radius: 0;
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px $ng-select-divider;
          
      }
      &.ng-select-top {
          bottom: calc(100% - .84375em);
          box-shadow: 0 -5px 5px -3px rgba(0, 0, 0, .2), 0 -8px 10px 1px rgba(0, 0, 0, .14), 0 -3px 14px 2px $ng-select-divider;
      }
      &.multiple {
          .ng-option {
              &.selected {
                  background: $ng-select-bg;
              }
              &.marked {
                  background: rgba(0, 0, 0, .04);
              }
          }
      }
      .ng-dropdown-header {
          border-bottom: 1px solid $ng-select-divider;
          padding: 0 1rem;
          line-height: 2.25rem;
          min-height: 2.25rem;
      }
      .ng-dropdown-footer {
          border-top: 1px solid $ng-select-divider;
          padding: 0 1rem;
          line-height: 2.25rem;
          min-height: 2.25rem;
      }
      .ng-dropdown-panel-items {
          .ng-optgroup {
              user-select: none;
              cursor: pointer;
              line-height: 1.5rem;
              height: 2.5rem;
              padding: .5rem 1rem;
              color: $ng-select-secondary-text;
              font-weight: 500;
              &.ng-option-marked {
                  background: rgba(0, 0, 0, .04);
              }
              &.ng-option-disabled {
                  cursor: default;
                  border-bottom: 1px solid $grey-lighten-2;
              }
              &.ng-option-selected {
                  background: $ng-select-divider;
                  color: $ng-select-highlight;
                  .ng-option-label{
                    font-weight: 500;
                  }
              }
          }
          .ng-option {
              line-height: 2.25rem;
              min-height: 2.25rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 0 1rem;
              border-radius: 0;
              text-decoration: none;
              position: relative;
              color: $ng-select-primary-text;
              text-align: left;
              .modal &{
                font-size: .875rem;
                border-bottom: 1px solid $grey-lighten-3;
                line-height: 1.25rem;
                white-space: pre-wrap;
                padding: .5rem 1rem;
              }
              @include rtl {
                  text-align: right;
              }
              &.ng-option-marked {
                  background: rgba(0, 0, 0, .04);
                  color: $ng-select-primary-text;
              }
              &.ng-option-selected {
                  background: $ng-select-divider;
                  color: $ng-select-highlight;
              }
              &.ng-option-disabled {
                  color: $ng-select-disabled-text;
                  
              }
              .ng-option-label{
                font-weight: 500;
               
              }
              &.ng-option-child {
                padding: 0 1rem;
                  @include rtl {
                      padding-right: 1rem;
                      padding-left: 0
                  }
              }
              &:last-child{
                border-radius: 0;
              }
              .ng-tag-label {
                  padding-right: 5px;
                  @include rtl {
                      padding-left: 5px;
                      padding-right: 0;
                  }
                  font-size: 80%;
                  font-weight: 400;
                  color: $ng-select-disabled-text;
              }
          }
      }
  }
  }
  
  // ng5 slider
  .ng5-slider{
    .ng5-slider-selection{
      background: $primary-color !important;
    }

    .ng5-slider-limit{
      color: $grey-lighten-2 !important;
    }
    .ng5-slider-pointer{
      width: 20px !important;
      height: 20px !important;
      top: -10px !important;
      background-color: $secondary-color !important;
      border-radius: 10px !important;

      &:after{
        width: 10px !important;
        height: 10px !important;
        top: 5px !important;
        left: 5px !important;
        border-radius: 50% !important;
        .ng5-slider-pointer.ng5-slider-active &{
          background-color: $white-base !important;
        }
      }
    }
  }
    //   extra small device potrait
    @media only screen and (max-width:480px){
      .search-field{
        border-bottom: none !important;
      }
      .md-form{
        .search-field &{
          .prefix{
            font-size: 1.25rem !important;
            top: 1rem;
          }
        }
        .search-banner.show &{
          .prefix{
            display: none;
          }
        }
      }
      .ng-select {
        &:hover{
          cursor: text;
        }
        .search-field &{
          margin-left: 2rem;
          margin-bottom: 1.5rem;
        }
        .action-item-sm &{
          margin-bottom: 0;
        }
        .search-banner.show &{
          margin-left: 0;
        }
        .modal-body &{
          padding-left: 0;
        }
        &:focus{
          outline: none;
        }
        &.ng-select-disabled {
            .ng-select-container {
              
                &:after {
                    border-bottom-color: transparent;
                    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 33%, transparent 0%);
                    background-size: 4px 1px;
                    background-repeat: repeat-x;
                }
                .ng-value-container {
                    .ng-value {
                        color: $ng-select-disabled-text;
                    }
                    .ng-placeholder {
                        color: $grey-darken-3;
                    }
                }
            }
            .ng-arrow-wrapper .ng-arrow,
            .ng-clear-wrapper {
                color: $ng-select-disabled-text;
                .ng-clear{
                  font-size: 1.5rem;
                }
            }
        }
        &.ng-select-focused {
            .ng-select-container {
                &:after {
                    border-color: $ng-select-highlight;
                    border-width: 2px;
                }
                .ng-value-container .ng-placeholder {
                    transform: translateY(-.875rem) scale(.85) perspective(100px) translateZ(.001px) !important;
                    color: $primary-color;
                    .search-field &,
                    .modal-body &,
                    .login-content &,
                    .mat-dropdown &{
                      transform: translateY(-1.375rem) perspective(100px) translateZ(.001px) !important;
                    }
                }
                .ng-arrow-wrapper .ng-arrow {
                    color: $ng-select-highlight;
                    border-top: 0;
                }
            }
        }
        .ng-has-value,
        &.ng-select-filtered .ng-select-container {
            .ng-placeholder {
                display: initial;
            }
        }
        .ng-has-value,
        &.ng-select-opened {
            .ng-placeholder {
                transform: translateY(-.875rem) scale(.85) perspective(100px) translateZ(.001px) !important;
                .search-field &,
                .modal-body &,
                .login-content &,
                .mat-dropdown &{
                  font-size: .875rem !important;
                  transform: translateY(-1.375rem) perspective(100px) translateZ(.001px) !important;
                }
            }
        }
        .ng-select-container {
            .search-field &,
            .modal-body &,
            .login-content &{
              min-height: 3rem;
              border-bottom:  2px solid rgba($primary-color,.5);
              border-radius: 0;
              
            }
            .search-banner.show &{
              border-bottom:  2px solid rgba($white,.5);
            }
            .location-field &{
              padding-right: 3rem;
            }
            .ng-value-container {
                margin-bottom: 0;
                .ng-placeholder {
                    
                    .search-field &,
                    .modal-body &,
                    .login-content &{
                      font-size: 0.875rem;
                      top: 1rem;
                    }
                    .search-banner.show &{
                      color: rgba($white,.5);
                    }
                }
                .ng-input {
                    top: 1rem;
                    padding: 0;
                    font-size: 1.5rem;
                    &:hover{
                      cursor: text;
                    }
                    .search-field &,
                    .modal-body &,
                    .login-content &{
                      font-size: 1.5rem;
                      top: .25rem;
                    }
                    .search-banner.show &{
                      color: $white;
                    }
                    input{
                      .search-field &{
                        padding-left: 0;
                        margin: 0;
                        cursor: text;
                        .search-banner.show &{
                          color: $white;
                        }
                      }
                      
                    }
    
                }
                .ng-value{
                  .search-field &{
                    padding-top: 0;
                    font-size: 1.5rem;
                    .search-banner.show &{
                      color: $white;
                    }
                  }
                  .modal-body &,
                  .login-content &{
                    padding-top: 0;
                    font-size: 1rem;
                  }
                  
                }
            }
        }
        &.ng-select-single {
            .ng-select-container {
                .ng-arrow-wrapper {
                    align-self: flex-end;
                    bottom: 9px;
                }
                .ng-clear-wrapper {
                    align-self: flex-end;
                    bottom: .5rem;
                    .ng-clear{
                      font-size: 1.5rem;
                    }
                    
                }
            }
        }
        &.ng-select-multiple {
         
            &.ng-select-disabled {
                .ng-select-container .ng-value-container .ng-value {
                    background-color: $ng-select-divider;
                    color: rgba(0, 0, 0, .26);
                }
            }
            .ng-select-container {
                .ng-value-container {
                  min-height: 3rem;
                    .ng-value {
                        border: 1px solid $primary-color;
                        background-color: rgba($primary-color,.05);
                        border-radius: 2px;
                        color: $primary-color;
                        padding: 0 5px;
                        margin: 0 0.325rem 0.325rem 0;
                        height: 1.65rem;
                        margin-top: .65rem;
                        line-height: 1.65rem;
                        position: relative;
                        padding-right: 1rem;
                        
                        @include rtl {
                            margin: 0 0 0.5rem 0.5rem;
                        }
                        &.ng-value-disabled {
                            background-color: $ng-select-divider;
                            color: rgba(0, 0, 0, .26);
                        }
                        .ng-value-label {
                          font-size: .875rem;
                          font-weight: 400;
                          line-height: 1rem;
                        }
                        .ng-value-icon {
                          color: $secondary-color;
                            padding-right: 5px;
                            position: absolute;
                            top: calc(50% - .5rem);
                            right: 0;
                            border: 0;
                            height: 1rem;
                            line-height: 1rem;
                            @include rtl {
                                padding-left: 5px;
                                padding-right: 0;
                            }
                            &:hover {
                                color: $danger;
                                background-color: transparent;
                            }
                        }
                    }
                    .ng-input {
                      height: 1.5rem;
                      margin-top: .65rem;
                      line-height: 1.5rem;
                    }
                }
                &.ng-has-value {
                    align-items: center;
                    .ng-value-container {
                        padding-bottom: 0;
                        padding-top: .1875em;
                    }
                    .ng-clear-wrapper,
                    .ng-arrow-wrapper {
                        border-top: .84375em solid transparent;
                    }
                }
            }
        }
        .ng-clear-wrapper {
            color: $ng-select-secondary-text;
            &:hover {
                color: $ng-select-primary-text;
            }
        }
        .ng-arrow-wrapper {
            bottom: 2px;
            display: none ;
            .ng-arrow {
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid;
                margin: 0 4px;
                color: $ng-select-secondary-text;
            }
        }
        .ng-spinner-zone {
            bottom: .5rem;
        }
    }
    
    .ng-dropdown-panel {
        background: $white-base;
        left: 0;
        &.ng-select-bottom {
            top: 100%;
            left: 0;
          width: 100%;
            border-radius: 0;
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px $ng-select-divider;
            
        }
        &.ng-select-top {
            bottom: calc(100% - .84375em);
            box-shadow: 0 -5px 5px -3px rgba(0, 0, 0, .2), 0 -8px 10px 1px rgba(0, 0, 0, .14), 0 -3px 14px 2px $ng-select-divider;
        }
        &.multiple {
            .ng-option {
                &.selected {
                    background: $ng-select-bg;
                }
                &.marked {
                    background: rgba(0, 0, 0, .04);
                }
            }
        }
        .ng-dropdown-header {
            border-bottom: 1px solid $ng-select-divider;
            padding: 0 1rem;
            line-height: 2.25rem;
            min-height: 2.25rem;
        }
        .ng-dropdown-footer {
            border-top: 1px solid $ng-select-divider;
            padding: 0 1rem;
            line-height: 2.25rem;
            min-height: 2.25rem;
        }
        .ng-dropdown-panel-items {
            
            .ng-option {
                
                .search-field &{
                  line-height: 1.25rem;
                  min-height: 1.25rem;
                  padding: .5rem 1rem !important;
                  border-bottom: 1px solid $grey-lighten-3;
                }
                .modal &{
                  padding: 0 1rem;
                }
                @include rtl {
                    text-align: right;
                }
                &.ng-option-marked {
                    background: rgba(0, 0, 0, .04);
                    color: $ng-select-primary-text;
                }
                &.ng-option-selected {
                    background: $ng-select-divider;
                    color: $ng-select-highlight;
                }
                &.ng-option-disabled {
                    color: $ng-select-disabled-text;
                    
                }
                .ng-option-label{
                  font-weight: 500;
                 
                }
                &.ng-option-child {
                  padding: 0 1rem;
                    @include rtl {
                        padding-right: 1rem;
                        padding-left: 0
                    }
                }
                &:last-child{
                  border-radius: 0;
                }
                .ng-tag-label {
                    padding-right: 5px;
                    @include rtl {
                        padding-left: 5px;
                        padding-right: 0;
                    }
                    font-size: 80%;
                    font-weight: 400;
                    color: $ng-select-disabled-text;
                }
            }
        }
    }
    .radio-block{
      width: 100% !important;
      
        .tabset-content &{
          width: calc(100% - 2rem) !important;
        }
      
    } 
    .box{
      span{
        &.plan-icon{
          display: none;
          
          .plan-pricing &{
            display: block !important;
          }
        }
        &.plan-icon-lg{
          display: block;
        }
      }
      .plan-block-lg &{
        height: auto;
      }
    }
    input[type="radio"],
    input[type="checkbox"] {
      display: none;
      &:checked {
        + .box {
          .radio-block.plan-block-lg &{
            height: auto;
          }
          i{
            color: $white;
          }
        }
      }
    }
  }
    