.icon{
    &-block{
        padding: 2rem 1rem;
        width: 8.65rem;
        height: 8.65rem;
        margin-bottom: 1rem;
        display: block;
        // box-shadow: 0 2px 4px rgba($primary-color,.2);
        border: 1px solid rgba($primary-color,.15);
        background-color: $white-base;
        @extend %transition;
        &:hover{
            border: 1px solid rgba($primary-color,.2);
            box-shadow: 2px 4px 8px rgba($primary-color,.2);
            @extend %transition;
        }
        .icon-lg &{
            width: 100%;
            height: 9.375rem;
            background-color: lighten($grey-lighten-2, 10%);
            img{
                width: 3rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
    &-circle{
        display: block;
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 50%;
        background-color: $white-base;
        border: 1px solid $primary-color;
        i{
            line-height: 3.75rem;
            text-align: center;
            color: $secondary-color;
        }
    }
}

  //   extra small device potrait
  @media only screen and (max-width:480px){
    .icon{
        &-block{
            padding: 1rem;
            width: 100%;
        }
    }
  }