app{
  &-root{
    display: block;
    height:calc(100% - 22.25rem) ;
  }
  &-comparative-analysis{
    display: block;
    min-height: 100%;
  }
}
html,body{
  height: 100%;
}
figure{
  margin-bottom: 0;
}
// bootstrap container
@media (min-width: 1200px) {
    .container {
      max-width: 1170px;
    }
  }
//base style
body {
    // padding-bottom: 5.625rem;
    background-color: $bg-body;
    font-family: $base-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  .user-avatar{
    &-wrapper{
      .avatar{
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        line-height: 2.5rem;
        background-color: $primary-color;
        &-lg{
          width: 7.5rem;
          height: 7.5rem;
        }
        &-sm{
          width: 1.5rem;
          height: 1.5rem;
          line-height: 1.5rem;
        }
      }
    }
  }
  .modal-content input:disabled {
    border-bottom: 1px solid #bdbdbd !important;
  }
  .filter-text-color {
    color: #ea6f2c;
  }
 
  
  
  // search section
  .search{
  &-banner {
    padding: 3rem 2rem;
    background: url(/assets/img/jpg/theatre.jpg) $white;
    background-size: cover;
    background-position: center;
    height: 80vh;
    max-height: 40.25rem;
    position: relative;
    .theme-hps &{
      height: 100vh;
      max-height: 100vh;
    }
    .theme-movie &{
      height: 100vh;
      max-height: 100vh;
    }
    @include themify($themes) {  
      background-color: themed('primary');  
    }
    &.hide,
    &.show{
      @extend %transition;
    }
    h3{
      margin-bottom: 1.5rem;
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.16); 
      .theme-hps &{
        color: $white;
      }
      .theme-movie &{
        color: $white;
      }
    }
    &.banner-collapse {
      height: 16rem;
      padding-bottom: 3rem;
      overflow: visible;
      h3{
        display: none;
      }
      
    }
    &.physician-page-banner-collapse{
      height: 5.625rem;
      overflow: visible
    }
  
    .dropdown-menu {
      left: 0 !important;
      padding-left: 0px;
  
      .dropdown-item {
        padding-left: 47px;
        //     font-size: 0.875rem;
        //     &.active{
        //         color: $secondary-color;
        //         background-color: transparent;
        //     }
      }
    }
  
    
  
    .btn {
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;
      &:hover{
        text-decoration: none;
      }
    }
    
  }
  &-field-wrapper{
    height: calc(100% - 7.25rem);
    .banner-collapse &{
      height: 100%;
    }
  }
}
  .stats{
    position: relative;
    z-index: 1;
    .banner-collapse &{
      display: none;
    }
  }
  
  // google ads wrapper
  .ads{
    max-width: 15.625rem;
  }
  // bedcrumb
  .breadcrumb {
    padding-left: 0;
    background-color: transparent;
    margin-bottom: 0;
  }
  
  
  
  // dev css
  .toast-bootstrap-compatibility-fix {
    opacity: 1;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  // profile page
  
  .thumbnail {
    &-wrap {
      padding: .625rem;
      height: 100%;
      min-height: 18rem;
      overflow: hidden;
      background-color: $white-base;
      @extend %box-shadow;
      position: relative;
      &:hover{
        .thumbnail-wrap-excerpt{
          color: $white;
          padding: 1rem;
          -webkit-transform: translateY(0);
          transform: translateY(0);
          height: 100%;
          @extend %transition;

        }
      }
      .modal &,
      .tabset-content &{
        max-width:15rem ;
        max-height:15rem ;
        overflow: hidden;
      }
      .list-content-fav &{
        min-height: 15rem;
      }
      .file-upload &{
        background-color: lighten($grey-lighten-1,20%);
      }
      .avatar{
        position: relative;
        height: 13.75rem;
        overflow: hidden;
        background-color: $white;
        .list-content-fav &{
          height: 10rem;
        }
        &-lg{
          height: 20.8125rem;
        }
        .home &,
        app-top-doctors &{
          max-height: 11.875rem;
        }
        img{
          width: 100%;
        }
        &-change{
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          opacity: 0;
          @extend %transition;
        }
        &:hover{
          .avatar-change{
            opacity: 1;
            @extend %transition;
          }
          
        }
      }
      .img{
        &-landscape{
          text-align: center;
          overflow: hidden;
          min-height: 7.75rem;
          max-height: 9.75rem;
          background: url(/assets/img/png/placeholder-hospital.png) $tealgrey;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          img{
            height: 7.75rem;
          }
          &.no-bg{
            background-image: none;
            background-color: $white;
          }
        }
      }
      .profile-status{
        margin: .5rem 0;
      }
      .social-links{
        mdb-icon{
          display: block;
          text-align: center;
        }
      }
      
      h6 {
        margin-top: 1rem;
        margin-bottom: 0;
        font-weight: 700;
      }
      &-excerpt{
        color: $white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2rem;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        overflow: hidden;
        background-color: $secondary-color;
        @extend %transition;
        a{
          color: $white;
          font-weight: 500;
        }
      }
     
      
    }
  }
  .fav{
    &-item{
      z-index: 100;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 15px;
      right: 15px;
      text-align: center;
      border-radius: 50%;
      background-color: $secondary-color;
      a{
        line-height: 40px;
        z-index: 101;
      }
    }
   
    
      &-bg{
        position: absolute;
        width: 0;
        height: 0;
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
        border-left: 45px solid $white-base;
        opacity: .9;
        transform: rotate(-45deg);
        left: 28px;
        top: -36px;
      }
    
  }
  .score{
    h2{
      font-weight: 500;
      margin-bottom: 0;
      margin-right: .625rem;
    }
  }
  .rating{
    i{
      &.star-icon{
        font-size: 1.5rem;
        .rating-sm &{
          font-size: 1rem !important;
        }
      }
      
      
    }
    &-star{
      .star-icon:before,a{
        color: $secondary-color !important;
        
      }
      i{
        .rating-sm &{
          font-size: 1rem !important;
          height: 2rem;
        }
      }
      span.rating{
        line-height: 2rem;
        height: 2rem;
        display: block;
        span{
          line-height: 2;
          i{
            height: 2rem;
            display: inline-block;
          }
        }
      }
    }
    .star-icon:before{
      color: $secondary-color !important;
      
    }
  
  }
  .progress{
    border-radius: .3125rem;
    height: .625rem;
    &-sm{
      height: 4px;
    }
  }
  
  
  
    #filter {
      
  
      header.filter-header {
        margin-bottom: 1rem;
        padding: .65rem 1rem;
        background-color: $white-base;
        color: $grey-darken-1;
        @extend %box-shadow;
        a {
          font-size: .875rem;
          color: $secondary-color;
          display: inline-block;
        }
  
        h6 {
          margin: 0px;
          font-weight: 400;
          color: $grey-darken-3;
        }
      }
      
    }
    
  
  .action-item {
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 1rem;
    &-sm{
      padding: 0;
      height: 1.875rem;
    }
  }
  
  
  


    small#providerLocation{
      font-size: 85%;
      font-weight: normal;
      // float: right;
      color: $secondary-color;
    }
    
  .rating-width{
    width: auto !important;
  }
  
  
  
  .mapForPhysician{
    height:100%;
    #mapForPhysician{
      height:100%;
      width:100%;
      position:relative;
      overflow:hidden;
      min-height: 280px;
    }
  }
  
  
  // login page
  .login{
    &-wrapper{
      background: url(/assets/img/jpg/login-bg.jpg);
      background-repeat: repeat-x; 
      background-size: cover;
      height: 100vh;
    }
    &-content{
      height: 100%;
      overflow-y: auto;
      background-color: rgba($white-base,.95);
      .btn{
        font-size: 1.25rem;
      }
    }
    &-action{
      text-align: right;
    }
  }

  // promo code

  .promo-code{
    max-width: 14rem;
  }

  // coming soon

  .message{
    &-container{
      width: 100%;
      height: 100vh;
    }
    &-content{
      width: 37.5rem;
      .card{
        background-color: rgba($white-base,.5);
      }
    }
  }
.content{
  &-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
// homepage
.story{
  position: relative;
}
.news-letter{
  color: $grey-darken-3;
}
.customer-support{
  color: $grey-darken-1;
  background-image: url(/assets/img/jpg/customer-support.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #EDF2F5;
}
.support-box{
  background-image: url(/assets/img/png/support.png);
  background-repeat:no-repeat;
  background-position:right bottom;
}
.view{
  max-height: 7.5rem;
  &.thumbnail{
    &-md{
      max-height: 17.5rem;
      img{
        margin: 0 auto;
        text-align: center;
      }
      
    }
    &-lg{
      max-height: 25.5rem;
      img{
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
      
    }
  }
}
.icon-lg{
  .row{
    flex-wrap: wrap;
  }
}
.plan-highlight{
  position: absolute;
  height: 1.5rem;
  line-height: 1.5rem;
  top: -1.5rem;
  width: 100%;
}
// contact page
.map-action{
  position: absolute;
  top: 10.7rem;
    right: 5rem;
  z-index:10;
  
}
.google{
  &-maps {
    position: relative;
    padding-bottom: 35%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }
}
// footer
.footer{
  &-copyright{
    padding: .5rem 0;
    font-size: .875rem;
  }
}
.features-content{
  height: 500px;
}
.mockup-wrapper{

  left: calc(50% - 425px);
  padding-top: 5px;
  text-align: center;
  width: 850px;
  height: 450px;
  background-image: url("assets/img/png/macbook-mockup.png");
  background-repeat: no-repeat;
}
.features-path{

  left: calc(50% - 250px);
  text-align: center;
  width: 500px;
  height: 500px;
  background-image: url("assets/img/png/paths.png");
  background-repeat: no-repeat;
  background-position: center;
  h2{
    position: absolute;
    top: calc(50% - 48px);
    left: calc(50% - 54px);
    text-align: center;
    display: inline-block;
    strong{
      display: block;
    }
  }
  .feature{
    &-item{
      position: absolute;
      i{
        color: $primary-color;
        font-size: 1.5rem;
      }
    }
    &-api{
      top: 100px;
      right: 5px;
    }
    &-doc{
      top: 200px;
    left: -10px;
    }
    &-dpm{
      bottom: 80px;
    right: -55px;
    }
    &-eligibility{
      bottom: 90px;
    left: -50px;
    }
    &-oneclick{
      bottom: 170px;
    left: -95px;
    }
    &-google{
      top: 200px;
    right: 5px;
    }
    &-provider{
      bottom: 163px;
    right: -10px;
    }
    &-appointment{
      top: 100px;
    left: -50px;
    }
  }
}

// media queries
// large desktop greater than laptop
@media only screen and (min-width:1440px){
  .jumbotron{
    &.pl-lg-5{
      padding-left: 9rem !important;
    }
  }
}
// extra large desktop
@media only screen and (min-width:1920px){
  .jumbotron{
    &.pl-lg-5{
      padding-left: 22rem !important;
    }
  }
}

//   extra small device potrait
  @media only screen and (max-width:480px){
    logo{
      width: 100%;
    }
    .search{
      &-banner{
        height: 80vh;
        padding-left: 0;
        padding-right: 0;
        &.banner-collapse{
          height: 8rem;
        }
        .btn-link{
          width: auto;
        }
        &.show{
          height: auto;
          padding-top: 2rem;
          position: fixed;
          top: 0;
          width: 100%;
          -webkit-transform: translateY(0);
          transform: translateY(0);
          z-index: 120;
          color: $white;
          background-color: $primary-color;
          background-image: none;
          h3{
            display: block;
          }
          .bg-gradient-overlay{
            display: none;
          }

        }
        &.hide{
          display: none;
          height: 0;
          overflow: hidden;
          -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
        }
        .home &{
          
          display: block;
          position: relative;
          &.hide{
            height: 80vh;
            transform: translateY(0);
          }
        }
      
    }
    &-field-wrapper{
      height: 100%;
    }
    
    }
    // app-searchbar{
    //   position: fixed;
    //   top: 60px;
    //   width: 100%;
    //   z-index: 20;
    //   padding-top: 0rem;
    //   color: $white;
    //   background-color: $primary-color;
    //   .btn-link{
    //     z-index: 10;
    //   }
    //   .site-nav &{
        
    //   }
    //   app-header &,
    //   .home &{
    //     display: block;
    //   }
    // }
    .fav{

      
        &-bg{

          box-shadow: none;
          border: none;
        }
      
    }
    .avatar-wrapper{
      width: 100%;
    }
  
    .content{
      &-container{
        padding-top: 2rem;
        .display-3{
          font-size: 2rem;
        }
      }
    }
  // profile page
  
  .thumbnail {
    &-wrap {
      .list-content-fav &{
        text-align: center;
      }
      .avatar{
        height: 8rem;
        width: 8rem;  
        border-radius: 50%;
        margin: 0 auto;
        border: 5px solid $secondary-color;  
        .list-content-fav &{
          height: 8rem;
        }
      }
      .content-title,
      .header-action{
        text-align: center;
        margin: 1rem 0;
      }
      .user-rating{
        justify-content: center !important;
      }
      .header-action{
        .btn{
          width: calc(100% - 1.25rem);
        }
      }
      .content-container &{
        text-align: center;
        margin-bottom: 1rem;
        height: auto;
      }
      
    }
  }
  .user-profile{
    .card{
      padding-bottom: 6rem;
      .header-action{
        position: absolute;
        bottom: .5rem;
        width: calc(100% - 2.5rem);
        .user-rating{
          justify-content: center !important;
          
        }
        .btn{
          width: 100%;
        }
      }
    }

  }
  // login
  .form-action{
    .btn{
      width: 100%;
    }
    .login-action{
      margin-top: 1rem;
      text-align: left;
    }
  }
  // pricing
  .plan-highlight{
    position: relative;
    top: 0;
  }
  .customer-support{
    background-image: none;
  }
  .features-content{
    height: auto;
    padding-bottom: 0;
  }
  .features-path{
    text-align: left;
    width: 100%;
    height: auto;
    background-image: none;
    left:unset !important;
    position: relative !important;
    h2{
      position: relative;
      top: unset !important;
      left: unset !important;
      text-align:left;
      strong{
        display: inline-block;
      }
      
    }
    .feature{
      &-item{
        position: relative;
        top: unset !important;
        right: unset !important;
        bottom: unset !important;
        left: unset !important;
        text-align: left;
        margin: .5rem 0;
        i{
          float: left;
          margin-left:1rem;
          margin-right: 1rem;
        }
      }
     
    }
  }
}
  @media (min-width: 576px) {
    .p-sm-0 {
      padding: 0 !important;
    }
  }