// list
.list-container {
  padding-bottom: 5.625rem;
}
.list {
  &-items {
    overflow: hidden;
  }

  &-map-view-wrapper {
    display: flex;
    flex-wrap: nowrap;

    &.map-view {
      position: relative;
      height: calc(100vh - 5rem) !important;
      max-height: 40rem;
    }

    .map-wrapper {
      border-radius: .125rem;
      margin-bottom: 1rem;
      background-color: $white-base;
      flex-basis: 0;

      .map-content {
        @extend %transition;
        height: 100%;

        #gmap {
          height: 100%;
        }
      }
    }

    &.map-view {
      .map-wrapper {
        flex-basis: 100%;
        @extend %transition;
      }
    }

  }

  &-content {
    flex-basis: 100%;
    flex: 1;
    @extend %transition;
    @extend %box-shadow;
    .map-view & {
      width: 40%;
      padding: .5rem;
      height: calc(100vh - 7rem);
      max-height: 38rem;
      overflow: hidden;
      overflow-y: auto;
      position: absolute;
      right: .5rem;
      top: .5rem;
      @extend %transition;

      img {
        display: none !important;
      }
    }
    header{
      padding: .875rem 1rem;
      border-bottom: 1px solid lighten($grey-lighten-2, 5%);
      background-color: $white-base;
      h6{
        margin-bottom: 0;
      }
    }
    li{
      border-top: 0;
      border-left: 0;
      border-right: 0;
      margin-bottom: 0;
     
    }
    // search list style
    &-items {
      border-radius: 0;
      padding: .5rem;
      
      max-height: 12.5rem;
      position: relative;
      background-color: $white-base;
      cursor: pointer;
      @extend %transition;
      @extend %box-shadow;
      .list-content &{
        margin-bottom: 1rem;
      }
      .btn{
        width: 100%;
      }
      .rating{
        display: flex;
        justify-content: center;
        // width: 150px;
        margin: 0;
        a{
          color: $secondary-color;
          // i.fa-flag{
          //   // display: contents;
          //   float: right;
          // }
        }
      }
      // a i.fa-flag{
      //   color: $secondary-color;
      // }
      .report-error{
        position: absolute;
        width: 2rem;
        height: 2rem;
        display: block;
        top: 0;
        right: 0;
        font-size: .875rem;
        i{
          color: $grey-darken-1;
        }
        .dropdown{
          &-toggle{
            &::after{
              display: none;
              visibility: hidden;
            }
          }
          &-menu{
            &::after{
              content: '';
              position: absolute;
              top: -5px;
              right: 10px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 5px 5px 5px;
              border-color: transparent transparent $white transparent;
            }
          }
        }

        
      }
      .user-action{
        .btn{
          margin: .5rem 0 ;
        }
        
      }
      .map-view & {
        max-height: 100%;
        background-color: $white-base;
        // display: none;
        .avatar {
          display: none !important;
        }
        .user-action{
          max-width: 100%;
          flex-basis: 100%;
            display: none;
          border-top: 1px dotted #ebebeb;
          padding-top: 1rem;

        }
        &:hover {
          box-shadow: 0 2px 6px rgba(57, 73, 76, 0.35);
          // border: 1px solid $primary-color;
        }
      }

      &:hover,
      &.active {
        color: $primary-color !important;
        // border: 1px solid $primary-color;
        box-shadow: 0 2px 6px rgba(57, 73, 76, 0.35);
        @extend %transition;
        @include themify($themes) {  
          color: themed('primary') !important;  
        }
      }
      .avatar{
        width: 9rem;
        height: 9rem;
        overflow: hidden;
        img {
          // min-height:147.5px;
          // max-height: 180px;
          // width:155px;
          max-width: 9rem;
          min-width: 100%;
        }
        &-md{
          width: 4.5rem;
          height: 4.5rem;
          img {
            // min-height:147.5px;
            // max-height: 180px;
            // width:155px;
            max-width: 4.5rem;
            min-width: 100%;
          }
        }
      }
      

      &_header {
        padding: 0 !important;
        border: none !important;
        &_title {
          margin-bottom: 6px;
          // letter-spacing: 0.03rem;
          line-height: 1.1;
          font-weight: 400;
          font-size: 1.125rem;
          font-family: Oswald, sans-serif;

          .map-view & {
            font-size: .9rem;
          }
        }

        small {
          color: $primary-color;
          font-size: 0.75rem;
          display: block;
          margin-bottom:0.5rem;
          @include themify($themes) {  
            color: themed('textGrey') !important;  
          }
        }

        
      }
      .map-address {
        display: none;
        margin-left: 1rem;

        .fa-li {
          left: -1rem;
          top: 2px;
          position: absolute;
          text-align: center;
          width: 1rem;
          line-height: inherit;
          color: $primary-color !important;

        }

        .map-view & {
          display: block;
        }

        small {
          color: $grey-darken-3;
        }
      }
      &_excerpt {

        // border-top: 1px dotted #ebebeb;
        &_content{
          .map-view & {
            max-width: 100%;
            flex: 0 0 100%;
          }
        }
        .map-view & {
          padding-left: 0;
        }

        ul {
          margin-top: .625rem;
          margin-left: 1.25rem;
          box-shadow: none;

          .map-view & {
            display: none;
          }

          li {
            font-size: .9rem;
            font-weight: 400;
            margin-bottom: .3125rem;
            color: $grey-darken-1;
            // color:black;

            strong {
              color: $grey-darken-3;
              font-weight: 700;
            }

            .map-view & {
              flex-basis: 100%;
            }

            i {
              color: $primary-color;
              font-size: .875rem;
              @include themify($themes) {  
                color: themed('primary') !important;  
              }
            }
            &.list-inline-item{
              width: 48%;
            }
          }
        }
        
      }
    }
    &-fixed-height{
      max-height: 650px;
    }
  }
// default ul li style
  &-group {
    .utility-items &{
      flex-direction: row;
      box-shadow: none;
      background-color: transparent;
      li{
        border: 0;
        padding: 0 .5rem;
        background-color: transparent;
        &:first-child{
            padding-left: 0;
            padding-top: 0;
        }
        &:last-child{
          padding-left: .5rem;
          border-left:1px solid lighten($grey-lighten-2,5%);
        }
        i{
          margin-right: .25rem;
          color: $primary-color;
          @include themify($themes) {  
            color: themed('primary') !important;  
          }
        }
      }
    }
    .list-content &{
      .list-group-item{
        .modal &{
          background-color: transparent;
          padding-right: 0;
          &:first-child{
            padding-top: 0;
          }
        }
        
        &:last-child{
          border-bottom: 0;
          .modal &{
              padding-bottom: 0;
          }
        }
        .primary-contact{
          margin-bottom: .5rem;
          display: block;
        }
        .btn-group{
          background-color: lighten($grey-lighten-2,10%);
          width: 100%;
          border: 1px solid lighten($grey-lighten-2,5%);
          border-radius: 3px;
          margin-bottom: 1rem;
          .btn{
            padding: .5rem 1rem;
            background-color: transparent !important;
            &:nth-child(2){
              border-left: 1px solid lighten($grey-lighten-2,5%);
              border-right: 1px solid lighten($grey-lighten-2,5%);
            }
            i{
              color: $primary-color;
              margin-right: .3125rem;
            }
          }
          
        }
        .hospital-title{

          h6,
          p{
            margin-bottom: 0;
          }
        }
      }
      
    } 
    
    &.list-clear{
      li{
        padding: 0;
        border: 0;
      }
    }
    &-item {
      font-size: .875rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
      
      .plan-pricing &{
        font-size: 1rem;
        color: $grey-darken-3;
        padding-top: .25rem;
        padding-bottom: .25rem;
      }
      .features-content &{
        font-size: 1rem;
        color: $grey-darken-3;
        padding-top: .875rem;
        padding-bottom: .875rem;
        padding-left: 0;
        padding-right: 0;
        border: 0;
        i{
          color: $primary-color;
        }
      }
      &.disabled{
        opacity: .5;
      }
      &:first-child{
          .card &{
              padding-top: 0;
          }
          .utility-items &{
              padding-top: .5rem;
          }
          
      }
      &.active{
        a{
          color: $secondary-color !important;
          @include themify($themes) {  
            color: themed('secondary') !important;  
          }
        }
      }
      #sidebar &{
        a{
          color: $grey-darken-2;
          @extend %transition;
          &:hover{
            color: $secondary-color;
            @extend %transition;
          }
        }
      }
      #filter &{
          padding: 0;
          border: none;
          &:last-child{
            header{
              border: none;
            }
          }
          header{
            padding: .5rem 1rem;
            border-bottom: 1px solid lighten($grey-lighten-2,5%);
            margin-bottom: -1px;
          }
          ul{
            border: none;
            box-shadow: none !important;
            li{
              padding: .5rem 1rem;
            }
          }
        
      }
      &.disable {
        color: $grey-lighten-2 !important;
        a{
          color: $grey-lighten-2 !important;
        }
        .badge {
          background-color: $grey-lighten-2 !important;
        }
      }

      .list-group-flush & {
        background-color: transparent;
        // padding-left: 0;
        padding-right: 0.5rem;
        border-color: rgba($grey-lighten-2, .5);

        p {
          margin-bottom: 0;
        }

        header {
          cursor: pointer;

          i {
            cursor: pointer;
            color: $primary-color;
            font-size: 1rem;
            margin-right: .5rem;
            @include themify($themes) {  
              color: themed('primary') !important;  
            }
          }
        }

        a {
          i {
            margin-right: 0.5rem;
          }
        }

        .expandable-content {
          // font-size: 0.875rem;
          font-weight: 400;
          margin: 0;
          height: 0;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-out;
          border-bottom: 1px solid lighten($grey-lighten-2,5%);
          .btn-flat {
            opacity: 0;
            padding: 0;
            margin-left: .25rem;
            border: none;
            transition: all .5s ease;
            background-color: transparent;
            color: $grey-lighten-2 !important;
            cursor: pointer;

            &:focus {
              outline: none;
              box-shadow: none;
              // float: right;
            }
          }

          .filter-item-active {
            .btn-flat {
              opacity: 1;
              color: $primary-color !important;
            }
          }
        }
      }

      .expandable-content & {
        border: 0;
        margin: 0;
        padding: .25rem 0;
        // font-size: .75rem;
        color: $secondary-color;
        cursor: pointer;
        transition:max-height 0.3s ease-out;
        &:hover {
          .btn-flat {
            opacity: 1;
            border: none;
            padding: 0;
            transition: all .5s ease;
            color: $primary-color !important;
          }
        }
      }

      &.expandable {
        .expandable-content {
          margin: 1px 0 0 0;
          padding: .5rem 0;
          height: auto;
          max-height: 11rem;
          overflow-y: auto;
          transition: max-height 0.3s ease-out;
          background-color: $white-base;
        }

      }
      .floating-menu & {
        padding: .625rem 1rem;
        margin-bottom: 0;
        border: 0;
        border-bottom: 1px solid lighten($grey-lighten-2,5%);
        border-left: 5px solid transparent;
        
        &.active{
          color: $primary-color;
          border-color: lighten($grey-lighten-2,5%);
          border-left: 5px solid $primary-color;
          @include themify($themes) {  
            border-left-color:  themed('primary') !important;  
          }
          background-color: $white-base;
        }
        i {
          color: $primary-color;
          font-size: 1rem;
          margin-right: .5rem;
          @include themify($themes) {  
            color: themed('primary') !important;  
          }
        }
        &:first-child{
          border-radius: 0 !important;
        }
        &:last-child{
          border-bottom: 0;
          border-radius: 0 !important;
        }
        h6{
          display: inline-block;
          margin-bottom: 0;
        }
      }
      &-action{
        padding: 1rem; 
        header{
          padding: 0;
          background-color: transparent;
          border:0;
        }
        .list-content-items_excerpt{
          border:0;
        }
        &.active{
          color: $grey-darken-3;
          background-color: rgba($primary-color,.1);
          header{
            p{
              font-weight: 500;
            }
            
          }
        }
        &.viewed{
          
          background-color: rgba($grey-lighten-2,.5);
          
            p{
              color: $grey-darken-1;
            }
            
          
        }
        &-action{
          header{
            padding: 0;
            background-color: transparent;
            border:0;
          }
          .list-content-items_excerpt{
            border:0;
            ul{
              margin-top: 0;
            }
          }
          &.active{
            color: $grey-darken-3;
            background-color: $tealgrey;
            header{
              p{
                font-weight: 500;
              }
              
            }
          }
        }
      }
      
    }
    
  }

}
ul{
  li{
    margin-bottom: .5rem;
    .list-sm &{
      line-height: 1rem;
    }
    // carousel indicators
    
    &.stats-item {
      padding: 0 2rem;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, .26);
      
      &:nth-child(2){
        border-left: 1px solid $white;
        border-right: 1px solid $white;

      }
      .search-banner &{
        margin-bottom: 0;
        padding: 0 2rem;
        border-left: 0;
        border-right: 1px solid $grey-lighten-2;
        vertical-align: middle;
        &:first-child,
        &:last-child{
          border-right: 0;
        }
        &:first-child{
          padding-top: 1rem;
          padding-bottom: 1rem;
          position: relative;
          background-color: $primary-color;
          &:after{
            
              left: 100%;
              top: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(136, 183, 213, 0);
              border-left-color: $primary-color;;
              border-width: 30px;
              margin-top: -30px;
            
          }
        }
      }
    }
    p{
      margin-bottom: 0;
    }
    .thumbnail-wrap &{
      font-size: .75rem;
    }
  }
  .features-content &{
    top: 7rem;
    .fa-li{
      i{
        font-size: 1.25rem;
      }
    }
  }
  &.stepper{ 
    margin: 0;
    padding-left: 0;
    li{
      a {
        .label{
          @extend %transition;
        }
        .circle{
          width: 2.25rem;
          height: 2.25rem;
          line-height: 2.2rem;
          background-color: $grey-lighten-2 !important;
          i{
            font-size: 1rem;
            line-height: 2.25rem;
            color: $grey-darken-2;
          }
        }
      }
      &:first-child{
        a{
          padding-left: 0;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
      &:hover{
        
        background-color: transparent;
        a{
          .label{
            color: $primary-color;
            @extend %transition;
          }
          
        }

      }
      &.completed{
        a{
          .circle{
            border: 1px solid $success-color;
            background-color: $white-base !important;
            i{
              color: $success-color;
            }
          }
        }
        
      }
      &.active{
        a{
          .circle{
            border: none;
            background-color: $secondary-color !important;
            i{
              color: $white;
            }
          }
        }
        
      }
    }
      
    
   }
   &.fa-ul-right{
     margin-left: 0;
     margin-right: 2.5em;
     .fa-li{
       left: unset;
       right: -2em;
       top: 1rem;
       
     }
   }
}
ol{
  &.carousel-indicators{
    li{
      width: 10px;
      height:10px;
      border-radius: 50%;
      background-color: $white;
      border: 1px solid $grey-lighten-1;
      &.active{
        background-color: $secondary-color;
        border-color: $secondary-color;
      }
    }
    
  }
}

//   extra small device potrait

@media only screen and (max-width: 480px) {

  .floating-menu {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      
  }
  .list{
    &-group{
      .utility-items &{
        justify-content: center;
      }
      .floating-menu &{
        flex-direction: row;
        justify-content: space-between;
        background-color: $white !important;
        box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
        &-item{
          text-align: center;
          border: 0;
          flex-basis: 0;
          flex-grow: 1;
          &.active{
            border: 0;
            color: $white;
            background-color:  $primary-color;
            a,i{
              color: $white !important;
            }
          }
          a{
            text-align: center;
          }
          i{
            margin: 0;
            
          }
          h6{
            display: block;
            font-size: .875rem;
          }
        }
      }
      .review-section &{
        &-item{
          align-items: flex-start !important;
          padding-left: 0;
          p{
            font-size: .875rem;
          }
        }
      }
    }
    &-content{

      .media{
        flex-direction: column;
        .avatar{
          width: 4rem;
          height: 4rem;
          overflow: hidden;
          @include border-radius(50%);
          img{
            max-width: 4rem;
            margin-right: 1rem;
          }
        }
      }
      &-items{
        max-height: 100%;
        border-radius: 4px;
        small{
          margin-bottom: 0;
        }
        .rating{
          margin-bottom: .625rem;
          i{
            font-size: .875rem !important;
          }
        }
        &_header{
          &_title{
            font-size: 1rem;
          }
        }
      }
      .map-view &{
        display: none;
      }
      
      
    }
  }
  ul{
    &.stepper{
      flex-direction: row;
      overflow: hidden;
      padding: 0;
     
      li{
        &:after,
        &:before{
          display: none !important
        }
        a{
          padding: .5rem;
          span{
            &.label{
              font-size: .625rem;
            }
          }
        }
      }
     
    }
  }
  }
  @media only screen and (max-width: 320px) {
    .list{
      &-group{
        .floating-menu &{
          &-item{
            a{
              text-align: center;
            }
            i{
              margin: 0;
              font-size: 1rem;
            }
            h6{
              display: none;
            }
          }
        }
        .utility-items &{
        &-item{
          a{
            span{
              display: none;
            }
            
          }
        }
      }
      }
      
    }
    ul{
        span{
          &.label{
            display: inline-block !important
          }
        }
      
    }
  }