// modal
.modal{
    &-open{
      .modal{
        overflow-y: auto;
      }
    }
    &-header{
      .modal-dialog .modal-content &{
        box-shadow: none;
      }
      @include themify($themes) {  
        background-color: themed('primary') !important;  
      }
     
    }
    &-content{
      input{
        &:disabled {
          color: $grey-lighten-1;
          border-bottom: 1px solid $grey-lighten-2 !important;
          &:hover{
          
            cursor: not-allowed;
          }
          & ~ label{
            color: $grey-lighten-1;
          }
        }
      }
    }
  }
  #operationalModal .modal-body {
    overflow-y: auto;
    // max-height: 400px;
    max-height: calc(100vh - 206px);
  }
  // modal ends


  // popover
  .popover{
    border: 1px solid rgba($grey-lighten-1, 0.5);
    border-radius: 0;
    width: 18.75rem;
    @extend %box-shadow;
    &-top,
    &-bottom,
    &-left,
    &-right{
      &:before{
        border-top-color: $white;
      }
    }
  }

  // dropdown
  .dropdown{
    &-toggle{
      &.dropdown-toggle-clean {
        &:after{
          right: 0;
          bottom: .5rem;
          position: absolute;
          display: none;
      }
      }
        
    }
    &-menu{
      min-width: 17.5rem;
      a{
        color: $grey-darken-3;
        font-weight: 400;
        font-family: $base-font;
      }
      &-sm{
        min-width: 10rem;
      }
    }
}