// logo

.navbar{
    &-brand {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      min-width: 200px;
    }
    &.position-absolute{
      z-index: 110;
    }
    
    .nav{
      &-item{
        height: 3rem;
        &.active{
          > .nav-link{
            color: $secondary-color !important;
            border-top: 5px solid $secondary-color;
            background-color: transparent !important;
            .custom-theme &{
              color: $white;
            }
          }
        }
        .dropdown-menu{
          margin-top: .625rem;
          &:after{
            @include position-item(absolute,$top: -20px,$right: 25px,$bottom:100%);
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: $white;
            border-width: 10px;
            margin-left: -30px;
          }
        }
      }
      &-link{
        font-family: $title-font;
        font-size: 1rem;
        color: $grey-darken-3;
        border-top: 5px solid transparent;
        .custom-theme &{
          color: $white !important;
        }
      }
    }
   &-expand{
     &-lg{
       .navbar-nav{
         .nav-link{
           padding: 0 1rem;
           height: 3rem;
           line-height: 3rem;
           &.dropdown-toggle{
             line-height: 1.5;
           }
         }
       }
     }
   }
   > .container,
   > .container-fluid {
     align-items: flex-start;
   }
   &-collapse{
     height: auto !important;
   }
  }


  @media only screen and (max-width: 480px) {
    .navbar{
      position: fixed !important;
      -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05) !important;
      -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05) !important;
      box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05) !important;
      background-color: $white-base !important;
      app-home-layout &{
        .toggle-nav{
          display: block !important;
        }
      }
      &-brand{
        margin: 0 auto;
        .login-content &{
          margin-left: 0;
          img{
            max-width: 20rem;
          }
        }
        img{
          max-width: 8.625rem;
        }
      }
      &-toggler{
        position: absolute;
        left: 0;
        top: .75rem;
      }
      &-collapse{
        position: fixed;
        top: 0;
        width: 90%;
        height: 100vh !important;
        transform: translateX(-30rem);
        -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
        -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
        box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
        background-color: $white-base;
        transition: all ease .2s;

        &.collapsing{
          transform: translateX(-30rem);
        }
        &.show{
          transform: translateX(0);
          height: 100vh !important;
          transition: all ease .2s;
        }
        .site-nav-menu{
          align-items: flex-start !important;
          padding-top: 2.5rem;
          
        }
      }
      
      .nav-item{
        width: 100%;
        &.dropdown{
          border-bottom: 1px solid $grey-lighten-2;
          padding-bottom: 1rem;
        }
        &.active{
          > .nav-link{
            color: $secondary-color !important;
            border-top: 0;
            border-left: 5px solid $secondary-color;
            background-color: transparent !important;
            .custom-theme &{
              color: $white;
            } 
          }
        }
        .nav-link{
          
          position: relative;
          font-family: $title-font;
          color: $grey-darken-3;
          border-top: 0;
          border-left: 5px solid transparent;
          .custom-theme &{
            color: $white;
          }
        }
        .dropdown-menu{
          width: 100%;
        }
      }
    }
    .list-container{
      margin-top: 4.5rem !important;
    }
  }
  