// sticky filter
.sticky {
    position: sticky;
    top: 0;
    width: 15rem;
    // @media (min-width: 1300px) {
    //   width: 227.656px;  
    // }
    // @media (max-width: 1300px) {
    //   width: 199.99px;  
    // }
    // @media (min-width: 1300px) {
    //   width: 227.656px;  
    // }
  
  }
 // layout
 .panel{
  &-left{
    max-width: 15rem;
  }
}
//   extra small device potrait
@media only screen and (max-width: 480px) {
  .filter{
    position: fixed;
    overflow-y: auto;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1090;
    background-color: $white-base;
    &.filterCollapse{
      transform: translateY(50rem);
    }
    &.filterExpand{
      transform: translateY(0);
      top: 0;
    }
  }
    .sticky {
        position: relative;
        top: 0;
        width: 100%;
    }
    .ads,
    .panel-left{
      max-width: 100%;
    }
    }


    // @media only screen and (max-width: 480px) {
      // .filter{
      //   overflow-y: auto;
      //   width: 100%;
      //   top: 0;
      //   z-index: 1090;
      //   background-color: $white-base;
      //   &.filterCollapse{
      //     height: 0;
      //   }
      //   &.filterExpand{
      //     height: 50vh;
      //     left: 15px;
      //   }
      // }
      //   .sticky {
      //       position: relative;
      //       top: 0;
      //       width: 100%;
      //   }
      //   .ads,
      //   .panel-left{
      //     max-width: 100%;
      //   }
        