table{
    margin: 0 !important;
    tbody{
      tr{
        &:hover{
          cursor: pointer;
        }
        &:first-child{
          td{
            border-top: 0;
            padding-top: 0;
          }

        }
        td{
        padding: .65rem 0 !important;
        font-weight: 400;
          &:first-child{
            color: $grey-darken-1;
            width: 10rem;
            font-weight: 400;
            i{
              color: $primary-color;
              @include themify($themes) {  
                color: themed('primary') !important;  
              }

            }
            .table-sm &,
            .modal &{
              width: auto;
            }
          }
          p{
            color: $grey-darken-3 !important;
            font-weight: 500;
            margin-bottom: 0;
            margin-top: 0 !important;
          }
          .modal &{
           color: $grey-darken-1
          }
          &:last-child{
            .modal &{
              text-align: right;
            }
          }
        }
      }
      
    }
    &.table{
      &-lg{
        thead{
          background-color: transparent !important;
          tr{
            background-color: transparent;
            th{
              font-weight: 700;
              padding: .25rem 1rem !important;
              &:hover{
                cursor: pointer;
              }
              &:first-child{
                padding-left: 3rem !important;
              }
            }
          }
        }
        tbody{
          tr{
            &.focused{
              background-color: rgba($info,.05) !important;
              // td{
              //   border: 1px solid rgba($info,.5) !important;
              // }
            }
            td,
            th{
              padding: 1.25rem 1rem !important;

            }
            td{
              &:first-child{
                width: auto;
                  padding-left: 3rem !important;
                
              }
            }
          }
          
        }
      
      }
      &-sm{
        thead{
          th{
            font-weight: 500;
          }
        }
        tbody{
          tr{
            td{
              &:first-child{
                width: auto;
              }
            }
          }
        }     
      }
      &-striped{
        tbody{
          tr{
            &:nth-of-type(odd){
              background-color: lighten($grey-lighten-3,5%);
            }
          }
        }
      }
    }
  }


  // pagination
  .ngx-pagination{
    .current{
      border-radius: 50%;
      background: $secondary-color !important;
    }
  }