// tabs content
tabs[_ngcontent-c7],
tabs[_nghost-c5],
tabs {
  padding: 0 !important;
  margin: 2rem 0 0 0;
  min-height: auto !important;

  .tabs {
    &__tab-bar {
      align-self: flex-start !important;
      margin-bottom: 0 !important;
      border: 0 !important;
      border-bottom: 1px solid $grey-lighten-2 !important;
      border-radius: 0 !important;
      width: 100%;
    }

    &__tab {
      color: $grey-darken-3;
      font-weight: 700;
      text-transform: uppercase;
      font-family: $title-font;
      border: 0;
      border-bottom: 5px solid transparent;
      margin-bottom: -1px !important;
      padding: 1rem 1.5rem !important;
      background-color: transparent;

      &.active[_ngcontent-c5],
      &.active[_ngcontent-c7] {
        color: $primary-color !important;
        border-bottom: 5px solid $primary-color;
        background-color: transparent !important;
      }
    }

    &__panel {
      margin-top: 2rem;
      padding: 0 !important;
      border-radius: 0 !important;
      box-shadow: none !important;
      background-color: transparent !important;
    }
  }

}

.nav{
  &-tabs{
    border-bottom: 0;
    padding: 0 .5rem;
    margin-top: -4.6875rem;
    background-color: transparent;
    justify-content: center;
    .table-content &{
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
    }
    .modal &{
      margin-top: 0;
      border-top: 1px solid rgba($white,.2);
      background-color: $primary-color;
    }
    .btn{
      font-family: $base-font;
      font-weight: 400;
      font-size: .875rem;
      color: $grey-darken-1 !important;
      padding: 0 1rem;
      box-shadow: none;
      text-align: center;
      .custom-theme &{
        color: $white !important;
      }
      .modal &{
        font-size: .75rem;
        color: $white !important;
        &:hover{
          opacity: .8;
          color: $white !important;
        }
      }
      &:hover{
        opacity: .8;
        svg{
          &#profile{
              
                  #circle,
                  #user{
                      fill: #EA6E2C;
                      @extend %transition;
                  }
      
                  #tick{
                      fill: #ffffff;
                      @extend %transition;
                  }
              
          }
          &#specialty{
              
            #badge{
              path{
                fill: #EA6E2C;
                @extend %transition;
              }
                
            }

            #tick{
              path{
                fill: #ffffff;
                @extend %transition;
              }
            }
        
    }
    &#location-affiliation{
              
      #circle{
          fill: #EA6E2C;
          @extend %transition;
        
          
      }

      #med{
        path{
          fill: #ffffff;
          @extend %transition;
        }
      }
  
}
&#appointment{
              
  #tick,
  #clock,
  #minhand{
      fill: #EA6E2C;
      @extend %transition;
    
      
  }


}
      }
      }
    }
    li{
      border-bottom: 5px solid transparent;
      margin-bottom: 0;
      padding: .5rem;
      .modal &{
        border-bottom: 5px solid transparent;
      }
      &.active{
        border-bottom: 5px solid $secondary;
        background-color: transparent;
        .modal &{
          border-top: none;
          border-bottom: 5px solid $secondary;
          background-color: transparent;
        }

        .btn{
          font-weight: 500;
          color: $primary-color !important;
          .custom-theme &,
            .modal &{
              color: $white !important;
            }
          span.text-left{
            color: $grey-darken-3 !important;
            .custom-theme &,
            .modal &{
              color: $white !important;
            }
          }
         
        }
        svg{
          &#profile{
              
                  #circle,
                  #user{
                      fill: #EA6E2C;
                      @extend %transition;
                  }
      
                  #tick{
                      fill: #ffffff;
                      @extend %transition;
                  }
              
          }
          &#specialty{
              
            #badge{
              path{
                fill: #EA6E2C;
                @extend %transition;
              }
                
            }

            #tick{
              path{
                fill: #ffffff;
                @extend %transition;
              }
            }
        
          }
          &#location-affiliation{
                    
            #circle{
                fill: #EA6E2C;
                @extend %transition;
              
                
            }

            #med{
              path{
                fill: #ffffff;
                @extend %transition;
              }
            }
        
          }
          &#appointment{
                        
            #tick,
            #clock,
            #minhand{
                fill: #EA6E2C;
                @extend %transition;
              
                
            }


          }
          &#userseo,
          &#doctor,
          &#value,
          &#social-media,
          &#activity{
            path,rect{
              fill: #009B9D;
            }
          }
          }
      }
    }
    
  }
}
.tabset{
  &-content{
    padding: 1.5rem;
    .table-content &{
      padding: 0;
      background-color: $white-base;
    }
  }
}

.selected{
  &-item{
    font-size: .875rem;
    color: $primary-color;
    padding: .25rem .5rem;
    border: 1px solid rgba($primary-color,.30);
    background-color: rgba($primary-color,.10);
    margin: .25rem .5rem ;
    margin-left: 0;
    display: inline-block;
    border-radius: 2px;
    p{
      color: $primary-color !important;
      
    }
    &.checked{
      p{
        color: $white !important;
      }
    }
    .file-upload-lg &{
      min-height: 15rem;
    }
  }
  &-item-lg{
    min-height: 7.5rem;
    margin: .5rem 0;
    width: 100%;
    cursor: pointer;
    &.checked{
      position: relative;
      // color: $white;
      @extend %box-shadow;
      border: 1px solid rgba($primary-color,.3);
      background-color: rgba($primary-color,.1);
      // i,label,input,.active{
      //   color: $white !important;
      // }
      input{
        &:focus{
          box-shadow: 0 1px 0 0 $white !important;
          border-bottom: 1px solid $white !important;
        }
      }
      &::after {
        color: $primary-color;
        font-family: "Font Awesome 5 Free";
        border: 2px solid $primary-color;
        content: "\f00c";
        font-size: .625rem;
        font-weight: 600;
        position: absolute;
        top: -.625rem;
        left: 0;
        transform: translateX(-50%);
        height: 1.25rem;
        width: 1.25rem;
        line-height: 1.20rem;
        text-align: center;
        border-radius: 50%;
        background: white;
        box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .nav{
    &-tabs{
      padding: 0;
      margin-top: -4rem;
      li{
        text-align: center;
        padding-left: .5rem;
        padding-right: .5rem;
      }
      .btn{

       padding: 0;
      }
    }
  }
  .tabset-content{
    padding-left: 0;
    padding-right: 0;
    .modal &{
      padding-left: .625rem;
      padding-right: .625rem;
    }
  }
}