// tooltip width
.tooltip{
    &-inner{
      min-width: 10rem;
      font-size: .875rem;
      color: $grey-darken-1;
      border-radius: 0;
      background-color: $white-base;
      @extend %box-shadow;
  
    }
    &.bs-tooltip-top{
      .arrow{
        &::before {
          border-top-color:$white-base;
        }
      }
    }
    &.bs-tooltip-bottom{
      .arrow{
        &::before {
          border-bottom-color:$white-base;
        }
      }
    }
    &.bs-tooltip-left{
      .arrow{
        &::before {
          border-left-color:$white-base;
        }
      }
    }

    
  }