

//typography
a{
  @include themify($themes) {  
    color: themed('secondary') !important;  
  }
}

.text{
    &-strike{
      text-decoration: line-through;
    }
    &-xs{
      font-size: 65%;
    }
    &-sm{
      font-size: 80%;
    }
    &-lg{
      p{
        font-size: 1rem;
        line-height: 1.5;
      }
    }
    &-primary{
      @include themify($themes) {  
        color: themed('primary') !important;  
      }
    }
    &-secondary{
      @include themify($themes) {  
        color: themed('secondary') !important;  
      }
      
    }
    &-link{
      @include themify($themes) {  
        color: themed('secondary') !important;  
      }
    }
  }
  .font-weight{
    &-300{
      font-weight: 300 !important;
    }
    &-400{
      font-weight: 400 !important;
    }
    &-500{
      font-weight: 500 !important;
    }
    &-700{
      font-weight: 700 !important;
    }
  }
  li,p{
    font-size: 1rem;
  }
  p{
    .h5 &{
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $title-font;
    line-height: 1.5;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    // letter-spacing: 0.03em;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-weight: 400;
  }
h2{
  &.display-4{
    p{
      font-size: 2.25rem !important;
      margin-bottom: 0;
      strong{
        font-weight: 500;
      }
    }
  }
  p{
    font-size: 2.25rem;
    strong{
      font-weight: 500;
    }
  }
}

h4{
  p{
    font-size: 1.5rem;
    color:$grey-darken-3 !important;
    margin: 0;
    strong{
      font-weight: 500;
    }
  }
}
.h6{
  p{
    font-size: 1.25rem;
  }
}

  .display{
    &-4{
      font-size: 3rem;
    }
  }
  // icofont
  
  .icofont{
    &-fw{
      width: 1rem;
      display: inline-block;
    }
    
      &-rotate-45{
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            display: inline-block;
        }
      
    }
    .text-link {
      color: $secondary-color !important;
      &:hover{
        color: #b74c12;
      }
    }

    .blockquote{
      &-action{
        padding: 1.5rem;
        border-left: 5px solid $primary-color;
        border-right: 5px solid $primary-color;
        background-color: rgba($white,.3);
        p{
          font-size: 1.5rem;
          font-weight: 300;
          margin-bottom: 0;
          padding: 0;
          strong{
            font-weight: 500;
          }
        }
      }
    }

// media queries
@media screen and (max-width:480px){
  h2{
    &.display-4{
      p{
        font-size: 1.25rem !important;
        line-height: 1.5
      }
    }

  }
  .blockquote{
    &-action{
      p{
        font-size: 1.25rem;
      }
    }
  }
}