// background colors
.transparent{
    background-color: transparent !important;
  }
.bg{
    &-light{
      background-color: $grey-lighten-4 !important;
    }
  }
.white {
    background-color: $white-base !important;
  }
  
  .primary {
    background-color: $primary-color !important;
  }
  
  .secondary {
    background-color: $secondary-color !important;
  }

//   position absolute
  .top-0{
    top: 0 !important;
  }
  .padd-left {
    padding-left: 0px;
  }
  
  .padd-0 {
    padding: 0;
  }
  
  .width-60 {
    width: 60%;
  }
  
  .padd-1 {
    padding: 1px;
  }
// margin

.ml{
    &-1{
      margin-left: .5rem !important;
    }
    &-2{
      margin-left: 1rem !important;
    }
    &-3{
      margin-left: 1.5rem !important;
    }
    &-4{
      margin-left: 2rem !important;
    }
    
  }
  .mt{
    &-1{
      margin-top: .5rem ;
    }
    &-2{
      margin-top: 1rem ;
    }
    &-3{
      margin-top: 1.5rem ;
    }
    &-4{
      margin-top: 2rem ;
    }
    &-5{
      margin-top: 2.5rem ;
    }
    &-neg-3{
      margin-top: -3rem;
    }
    &-neg-5{
      margin-top: -5rem;
    }
  }
  
  .top{
    &-0{
      top: 0 !important;
    }
    &-1{
      top: 1rem !important;
    }
    &-2{
      top: 1.5rem !important;
    }
    &-3{
      top: 2rem !important;
    }
    &-4{
      top: 2.5rem !important;
    }
    &-5{
      top: 3rem !important;
    }
  }
  .bottom{
    &-0{
      bottom: 0 !important;
    }
    &-1{
      bottom: 1rem !important;
    }
  }
  .right{
    &-0{
      right: 0 !important;
    }
    &-1{
      right: 1rem !important;
    }
  }
  .padd-left{
    &-0{
      left: 0 !important;
    }
    &-1{
      left: 1rem !important;
    }
  }

  // scrollbar style
 
    .scrollbar {
      background-color: rgba(0, 0, 0, 0.1) !important;
      border-radius: 2px;
      padding: 0 !important;
      --scrollbar-size: 2px;
      --scrollbar-padding: 4px;
    }
    .ng-scrollbar-thumb.scrollbar-thumbs {
      background-color: rgba($primary-color, 0.4);
      &:hover,
      &:active {
        background-color: rgba($primary-color, 0.7);
      }
    }

    //overlay
    .overlay{
      &-content{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
    }
    // filter blurr
    .filter-blurr{
      filter: blur(3px);
      -webkit-filter: blur(3px);
    }
  // height

  .vh-100{
    max-height: 100vh;
  }

  // boders
  .border{
    &-bottom{
      &-2{
        border-bottom:2px solid rgb(137, 113, 114);
      }
    }
    
  }
  @media (min-width: 576px){
    .ml-sm-0, .mx-sm-0 {
        margin-left: 0 !important;
    }
    
}
@media (max-width: 480px){
  .btn-fluid{
    width: 100%;
  }
}
