<app-searchbar>
  <!-- [triggeredPage]="'listPage'" [isMarketPlace]="fromMarketPlace"> -->
</app-searchbar>
<div class="fixed-action-btn" *ngIf="goTopArrowShown">
  <a class="btn-floating waves-effect waves-light" (click)="goToTop()">
    <i class="fa fa-arrow-up arrow-size"></i>
  </a>
</div>