<div class="placeholder-wrapper" *ngIf="section==='profile'">
  <div class="placeholder-item_profile">
    <div class="animated-background">
      <div class="background-masker avatar"></div>
      <div class="background-masker subheader">
        <div class="background-masker subheader-fist-line"></div>
        <div class="background-masker subheader-second-line"></div>
      </div>

      <div class="background-masker content-first-bullet"></div>
      <div class="background-masker content-first-bullet-second"></div>
      <div class="background-masker content-first-bullet-second-icon"></div>
      <div class="background-masker content-second-left"></div>
      <div class="background-masker content-second-bullet"></div>
      <div class="background-masker content-second-bullet-second"></div>
      <div class="background-masker content-second-bullet-second-icon"></div>
      <div class="background-masker content-second-line"></div>
      <div class="background-masker content-third-left"></div>
      <div class="background-masker content-third-bullet"></div>
      <div class="background-masker content-third-bullet-second"></div>
      <div class="background-masker content-third-bullet-second-icon"></div>
      <div class="background-masker content-third-line"></div>
    </div>
  </div>
</div>

<div class="placeholder-wrapper" *ngIf="section==='intro'">
  <div class="placeholder-item_intro">
    <div class="animated-background">
      <div class="background-masker header"></div>
      <div class="background-masker subheader">
        <div class="background-masker subheader-fist-line"></div>
        <div class="background-masker subheader-second-line"></div>
        <div class="background-masker subheader-third-line"></div>
      </div>
    </div>
  </div>
</div>

<div class="placeholder-wrapper" *ngIf="section==='fadPage' || section==='listPage'">
  <div class="placeholder-item" *ngFor="let number of [0, 1, 2, 3, 4]">
    <div class="animated-background">
      <div class="background-masker header-top"></div>
      <div class="background-masker header-left"></div>
      <div class="background-masker header-right"></div>
      <div class="background-masker header-bottom"></div>
      <div class="background-masker subheader-left"></div>
      <div class="background-masker subheader-right"></div>
      <div class="background-masker subheader-bottom"></div>
      <div class="background-masker content-top"></div>
      <div class="background-masker content-first-left"></div>
      <div class="background-masker content-first-bullet"></div>
      <div class="background-masker content-first-bullet-second"></div>
      <div class="background-masker content-first-bullet-second-icon"></div>
      <div class="background-masker content-second-left"></div>
      <div class="background-masker content-second-bullet"></div>
      <div class="background-masker content-second-bullet-second"></div>
      <div class="background-masker content-second-bullet-second-icon"></div>
      <div class="background-masker content-second-line"></div>
      <div class="background-masker content-third-left"></div>
      <div class="background-masker content-third-bullet"></div>
      <div class="background-masker content-third-bullet-second"></div>
      <div class="background-masker content-third-bullet-second-icon"></div>
      <div class="background-masker content-third-line"></div>
    </div>
  </div>
</div>

<div class="placeholder-wrapper" *ngIf="section==='image'">
  <div class="placeholder-item_profile">
    <div class="animated-background" style="height:135px !important;">
      <div class="background-masker avatar"></div>
      <div class="background-masker subheader">
        <div class="background-masker subheader-fist-line"></div>
        <div class="background-masker subheader-second-line"></div>
      </div>
    </div>
  </div>
</div>